<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bas.system.mapper.SystemInfoManageMapper">
	<select id="selectSystemInfo" resultType="SystemInfo">     	      
		SELECT  COM_TITLE,
			    USER_EVE_DAY_OPTM,
			    NON_USER_EVE_DAY_OPTM,  
			    CENTER_AUTO_CANCLE_AMTM,  
			    CENTER_AUTO_CANCLE_PMTM, 
			    CENTER_AUTO_CANCLE_ALLTM,
			    BLKLST_RLSDT,
			    GUEST_RESV_POSSIBLE_YN,
			    AUTO_CANCEL_R1_USE_YN,
			    AUTO_CANCEL_R2_USE_YN
		FROM TSEC_SYSTEM_INFO_M
		WHERE SYSTEM_CD = 'KSES'
   	</select>

	<select id="selectTodayAutoPaymentYn" resultType="String">
		SELECT 
			CASE 
				NVL(COUNT(*),0)  WHEN 1 THEN 'Y'
			ELSE 'N'
			END
		FROM TSEC_AUTO_PAYMENT_INFO_I 
		WHERE USE_YN = 'Y'
		AND AUTO_PAYMENT_DAY = TO_CHAR(SYSDATE,'d')
		AND TO_CHAR(SYSDATE,'HH24MI') BETWEEN AUTO_PAYMENT_OPEN_TM AND AUTO_PAYMENT_CLOSE_TM
	</select>

	<update id="updateSystemInfo">
		UPDATE TSEC_SYSTEM_INFO_M SET
			COM_TITLE = #{comTitle, jdbcType=VARCHAR}, 
			USER_EVE_DAY_OPTM = #{userEveDayOptm, jdbcType=VARCHAR},  
			NON_USER_EVE_DAY_OPTM = #{nonUserEveDayOptm, jdbcType=VARCHAR},  
			CENTER_AUTO_CANCLE_AMTM = #{centerAutoCancleAmtm, jdbcType=VARCHAR},  
			CENTER_AUTO_CANCLE_PMTM = #{centerAutoCanclePmtm, jdbcType=VARCHAR},
			CENTER_AUTO_CANCLE_ALLTM = #{centerAutoCancleAlltm, jdbcType=VARCHAR}, 
			BLKLST_RLSDT = #{blklstRlsdt, jdbcType=VARCHAR},
			GUEST_RESV_POSSIBLE_YN = #{guestResvPossibleYn, jdbcType=VARCHAR},
			AUTO_CANCEL_R1_USE_YN = #{autoCancelR1UseYn},
			AUTO_CANCEL_R2_USE_YN = #{autoCancelR2UseYn}
		WHERE SYSTEM_CD = 'KSES'
   </update>
</mapper>