<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.sym.log.mapper.SysLogManageMapper">


<!-- 시스템 로그 등록 -->
    <insert id="logInsertSysLog">
		INSERT INTO COMTNSYSLOG ( REQUST_ID
			, SRVC_NM
			, METHOD_NM
			, PROCESS_SE_CODE
			, PROCESS_TIME
			, RQESTER_ID
			, RQESTER_IP
			, OCCRRNC_DE
			, OCCRRNC_DATE
			, SQL_PARAM
			, METHOD_RESULT
		) VALUES ( #{requstId}
			, #{srvcNm}
			, #{methodNm}
			, #{processSeCode}
			, #{processTime}
			, #{rqesterId}
			, #{rqesterIp}
			, SYSDATE
			, SYSDATE
			, #{sqlParam}
			, #{methodResult}
		)
    </insert>

    <!-- 시스템 로그 상세 조회 -->
    <select id="selectSysLogInfo"  resultType="lmap">
        <![CDATA[   
            SELECT 
                  a.REQUST_ID
                , a.SRVC_NM
                , a.METHOD_NM
                , a.PROCESS_SE_CODE
                , CASE  a.PROCESS_SE_CODE WHEN 'S' THEN '조회'
                        WHEN 'I' THEN '입력'
                        WHEN 'U' THEN '업데이트'
                        WHEN 'D' THEN '삭제'
                  END PROCESS_SE_CODE_TXT
                , a.PROCESS_TIME
                , a.RQESTER_IP
                , a.RQESTER_ID
                , b.EMP_NM
                , a.SQL_PARAM
                , a.METHOD_RESULT
                , TO_CHAR(a.OCCRRNC_DATE, 'YYYY-MM-DD HH24:MI:SS') OCCRRNC_DATE 
                , a.ERROR_SE
                , a.ERROR_CODE
            FROM COMTNSYSLOG a, VW_EMPINFO b
            WHERE a.RQESTER_ID = b.ADMIN_ID
                  AND a.REQUST_ID = #{requstId}
            ]]>
    </select>

    <!-- 시스템 로그 목록 조회 -->
    <select id="selectSysLogList" resultType="lmap">
        <![CDATA[   
        SELECT * FROM ( 
            SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				   ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, TB.* 
            FROM (
		             SELECT 
		                  a.REQUST_ID
		                , a.SRVC_NM
		                , a.METHOD_NM
		                , CASE a.PROCESS_SE_CODE WHEN 'S' THEN '조회'
                       			WHEN 'I' THEN '입력'
                        		WHEN 'U' THEN '업데이트'
                        		WHEN 'D' THEN '삭제'
                  		  END PROCESS_SE_CODE
		                , a.PROCESS_TIME
		                , a.RQESTER_IP
		                , a.RQESTER_ID
		                , b.EMP_NM AS RQESTER_NM
		                , a.SQL_PARAM
		                , a.METHOD_RESULT
		                , TO_CHAR(OCCRRNC_DATE, 'YYYY-MM-DD HH24:MI:SS') OCCRRNC_DATE
		                , a.ERROR_SE
                		, a.ERROR_CODE
		            FROM COMTNSYSLOG a, VW_EMPINFO b
		            WHERE 
		                 a.RQESTER_ID = b.ADMIN_ID
		            ]]>
		        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
		            <![CDATA[  AND a.METHOD_NM LIKE '%' || #{params.searchKeyword} || '%' ]]>
		        </if>
		        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFrom) and !@org.apache.commons.lang3.StringUtils@isEmpty(params.searchTo)">
		        	AND TO_CHAR(OCCRRNC_DATE, 'yyyymmdd') BETWEEN #{params.searchFrom} AND #{params.searchTo}
		        </if>
		        <![CDATA[           
		            ORDER BY a.OCCRRNC_DE DESC 
            ) TB 
          ) 
          WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}
        ]]>
    </select>


    <!-- 시스템 로그 전날 로그 요약  등록 -->
    <insert id="logInsertSysLogSummary">
        <![CDATA[
            INSERT INTO LETTSSYSLOGSUMMARY 
                SELECT TO_CHAR(b.CREAT_DT, 'YYYYMMDD') as OCCRRNC_DE 
                     , 'Member-login' as  SRVC_NM
                     , 'actionLogin' as METHOD_NM
                     , SUM(CASE WHEN b.CONECT_MTHD = 'I' THEN 1 ELSE 0 END) AS CREAT_CO
                     , SUM(CASE WHEN b.CONECT_MTHD = 'U' THEN 1 ELSE 0 END) AS UPDT_CO
                     , SUM(CASE WHEN b.CONECT_MTHD = 'R' THEN 1 ELSE 0 END) AS RDCNT
                     , SUM(CASE WHEN b.CONECT_MTHD = 'O' THEN 1 ELSE 0 END) AS DELETE_CO
                     , 0 AS OUTPT_CO
                     , 0 AS ERROR_CO
                  FROM LETTNLOGINLOG b
                 WHERE NOT EXISTS (SELECT c.OCCRRNC_DE 
                                     FROM LETTSSYSLOGSUMMARY c
                                    WHERE TRIM(c.OCCRRNC_DE) = TO_CHAR((SYSDATE -1 ), 'YYYYMMDD')
                                  )
                   AND TO_CHAR(b.CREAT_DT, 'YYYYMMDD') = TO_CHAR((SYSDATE -1 ), 'YYYYMMDD')
                 GROUP BY TO_CHAR(b.CREAT_DT, 'YYYYMMDD')
                        , b.CONECT_MTHD
        ]]>
    </insert>

    <!-- 시스템 로그 6개월전 로그 삭제 -->
    <delete id="logDeleteSysLogSummary">
        <![CDATA[
            DELETE FROM LETTNLOGINLOG
             WHERE TO_CHAR(CREAT_DT, 'YYYYMMDD') < TO_CHAR((SYSDATE -210 ), 'YYYYMMDD')
        ]]>
    </delete>
    
    	
</mapper>