<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.floor.mapper.FloorPartInfoManageMapper">
	<select id="selectFloorPartInfoList"  resultType="lmap">
		SELECT TB.*
	    FROM 
	    (
			SELECT 
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				ROW_NUMBER() OVER (ORDER BY C.PART_ORDER) AS RNUM,
				C.PART_CD, C.PART_NM, B.FLOOR_CD, B.FLOOR_INFO, B.FLOOR_NM,
				A.CENTER_CD, A.CENTER_NM,
				CASE WHEN LENGTH(PART_MAP1) > 0 THEN 
					PART_MAP1
				ELSE 
					'no_image.png'
				END PART_MAP1, 
				B.FLOOR_PART_DVSN, C.LAST_UPDUSR_ID, TO_CHAR(C.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM, C.PART_SEAT_RULE, 
				C.PART_MINI_CSS, C.PART_MINI_TOP, C.PART_MINI_LEFT,  C.PART_MINI_WIDTH, C.PART_MINI_HEIGHT, 
				C.PART_MINI_ROTATE, C.USE_YN, C.PART_ORDER, C.PART_CSS, NVL((SELECT COUNT(*) FROM TSEB_SEAT_INFO_D WHERE PART_CD = C.PART_CD), 0) AS SEAT_CNT,
				D.PART_CLASS_SEQ, FN_DETAILCODENM(D.PART_CLASS) AS PART_CLASS_TEXT
			FROM  TSEB_CENTER_INFO_M A, TSEB_FLOOR_INFO_M B, TSEB_PART_INFO_D C, TSEB_CENTER_PART_CLASS_D D
			WHERE A.CENTER_CD = B.CENTER_CD
			AND C.FLOOR_CD = #{params.floorCd}       
			AND B.FLOOR_CD = C.FLOOR_CD
			AND C.PART_CLASS_SEQ = D.PART_CLASS_SEQ
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				AND 
				(
					B.FLOOR_NM LIKE '%' || #{params.searchKeyword} || '%'
					OR 
					A.CENTER_NM LIKE '%' || #{params.searchKeyword} || '%'
				)
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.floorCd)">
				AND B.FLOOR_CD = #{params.floorCd}
			</if>	
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.centerCd)">
				AND B.CENTER_CD = #{params.centerCd}
			</if>	
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.useYn)">
				AND C.USE_YN = #{params.useYn}
			</if>		
		) TB  
	    WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage} 
        ORDER BY RNUM
    </select>
    
    <select id="selectFloorPartInfoManageCombo" resultType="lmap">
		SELECT PART_CD, PART_NM, FLOOR_CD
	    FROM TSEB_PART_INFO_D
		WHERE USE_YN = 'Y'
		<if test="floorCd != '' ">  
			AND FLOOR_CD = #{floorCd, jdbcType=VARCHAR}
		</if>
	    ORDER BY PART_CD ASC
    </select>
    
    <select id="selectFloorPartInfoDetail" resultType="lmap">
		SELECT  
			A.CENTER_CD, A.FLOOR_CD, A.PART_CD, A.PART_NM, A.PART_MAP1, 
			A.PART_MAP2, A.PART_CSS, A.PART_SEAT_RULE, A.PART_MINI_CSS, A.PART_MINI_TOP,
			A.PART_MINI_LEFT, A.PART_MINI_WIDTH, A.PART_MINI_HEIGHT, A.PART_MINI_ROTATE, A.USE_YN,
			A.PART_ORDER, A.FRST_REGIST_DTM, A.FRST_REGTER_ID, A.LAST_UPDT_DTM, A.LAST_UPDUSR_ID,
			B.FLOOR_NM, C.CENTER_NM, D.PART_CLASS_SEQ, FN_DETAILCODENM(D.PART_CLASS) AS PART_CLASS_NM
		FROM TSEB_PART_INFO_D A, TSEB_FLOOR_INFO_M B, TSEB_CENTER_INFO_M C, TSEB_CENTER_PART_CLASS_D D
		WHERE A.PART_CD = #{partCd}
		AND A.FLOOR_CD = B.FLOOR_CD
		AND A.CENTER_CD = C.CENTER_CD
		AND A.PART_CLASS_SEQ = D.PART_CLASS_SEQ
    </select>
    
    <insert id="insertFloorPartInfo" >
		INSERT INTO TSEB_PART_INFO_D
		(
			CENTER_CD, FLOOR_CD, PART_CD, PART_NM, PART_MAP1,
		 	PART_CLASS, PART_CLASS_SEQ, PART_ORDER, USE_YN,
			FRST_REGIST_DTM, FRST_REGTER_ID, LAST_UPDT_DTM, LAST_UPDUSR_ID
		)
		VALUES
		(
		 	#{centerCd}, #{floorCd}, FN_PARTCODE(#{floorCd}), #{partNm}, #{partMap1, jdbcType=VARCHAR},
		 	#{partClass}, #{partClassSeq}, #{partOrder, jdbcType=VARCHAR}, #{useYn},
		 	SYSDATE, #{frstRegterId}, SYSDATE, #{lastUpdusrId}
		)
    </insert>
    
    <update id="updateFloorPartInfo" > 
		UPDATE TSEB_PART_INFO_D SET
			PART_NM = #{partNm},
			<if test="partMap1 != ''">
				PART_MAP1 = #{partMap1, jdbcType=VARCHAR},
			</if>
		    PART_CLASS = #{partClass},
			PART_CLASS_SEQ = #{partClassSeq},
		    PART_ORDER = #{partOrder, jdbcType=VARCHAR},
		    USE_YN = #{useYn},
			LAST_UPDT_DTM = SYSDATE,
			LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR}
	     WHERE PART_CD = #{partCd}           
    </update> 
    <!--  신규 추가  -->
    <update id="updateFloorPartInfPositionInfo" parameterType="java.util.List">
		<foreach collection="floorPartInfo" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE TSEB_PART_INFO_D SET 
				PART_CSS = #{item.partCss, jdbcType=VARCHAR},
				PART_MINI_LEFT = #{item.partMiniLeft, jdbcType=VARCHAR},
				PART_MINI_TOP = #{item.partMiniTop,jdbcType=VARCHAR}, 
				PART_MINI_WIDTH = #{item.partMiniWidth,jdbcType=VARCHAR},
				PART_MINI_HEIGHT = #{item.partMiniHeight,jdbcType=VARCHAR}, 
				PART_MINI_ROTATE = #{item.partMiniRotate,jdbcType=VARCHAR}, 
				LAST_UPDT_DTM = SYSDATE, 
				LAST_UPDUSR_ID = #{item.lastUpdusrId, jdbcType=VARCHAR}
			WHERE PART_CD = #{item.partCd} 
		</foreach> 
    </update>
    
	<!-- Front -->
	<select id="selectResvPartList" resultType="lmap">
	<![CDATA[
        SELECT  
         	A.PART_CD, A.PART_NM, A.PART_MINI_TOP, A.PART_MINI_LEFT, PART_MINI_WIDTH,
         	A.PART_MINI_HEIGHT, A.PART_MINI_ROTATE, A.PART_CSS,
         	FN_DETAILCODENM(B.PART_CLASS) AS PART_CLASS_TEXT,
			(
         		SELECT NVL(COUNT(*),0) 
         		FROM TSEB_SEAT_INFO_D 
         		WHERE PART_CD = A.PART_CD
         	) AS PART_SEAT_MAX_COUNT,
			(
         		SELECT NVL(COUNT(*),0) 
         		FROM TSER_RESV_INFO_I 
         		WHERE PART_CD = A.PART_CD 
         		AND #{params.resvDate} BETWEEN RESV_START_DT AND RESV_END_DT
         		AND RESV_STATE = 'RESV_STATE_1'
         	) AS PART_SEAT_USE_COUNT
         FROM TSEB_PART_INFO_D A, TSEB_CENTER_PART_CLASS_D B
         WHERE A.FLOOR_CD = #{params.floorCd}
         AND A.PART_CLASS_SEQ = B.PART_CLASS_SEQ
         AND A.USE_YN = 'Y'
         ORDER BY A.PART_ORDER
    ]]>
    </select> 
</mapper>