<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.mng.employee.mapper.DeptInfoManageMapper">
    <select id="selectDeptInfoList" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT A.DEPT_CD code_cd, A.DEPT_NM code_nm, A.DEPT_DC  code_dc, A.USE_YN,  TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM
				FROM TSEH_DEPT_INFO_M A
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.DEPT_DC LIKE CONCAT('%',#{params.searchKeyword},'%') 
						OR
						A.DEPT_NM LIKE CONCAT('%',#{params.searchKeyword},'%')
					) 
				</if>
			) TB 
		) TA
		WHERE ROWNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	<select id="selectOrgInfoComboList" resultType="lmap">
		SELECT A.DEPT_CD CODE_CD, A.DEPT_NM CODE_NM , 'DEPT' LIST_GUBUN
		FROM TSEH_DEPT_INFO_M A
		WHERE A.USE_YN = 'Y'
		UNION ALL
		SELECT A.GRAD_CD CODE_CD , A.GRAD_NM CODE_NM , 'GRAD' LIST_GUBUN
		FROM TSEH_GRAD_INFO_M A
		WHERE A.USE_YN = 'Y'
		UNION ALL
		SELECT A.PSIT_CD CODE_CD, A.PSIT_NM CODE_NM, 'POST' LIST_GUBUN
		FROM TSEH_PSIT_INFO_M A
		WHERE A.USE_YN = 'Y'
   	</select>
    <select id="selectDeptInfoComboList" resultType="DeptInfo">
		SELECT A.DEPT_CD, A.DEPT_NM
		FROM TSEH_DEPT_INFO_M A
		WHERE A.USE_YN = 'Y'
   	</select>
   	
   	<select id="selectDeptDetailInfo" resultType="lmap">
		SELECT A.DEPT_CD code_cd, A.DEPT_NM code_nm, A.DEPT_DC  code_dc, A.USE_YN, A.LAST_UPDT_DTM
		FROM TSEH_DEPT_INFO_M A
		WHERE A.DEPT_CD = #{code}
   	</select>
	
	<insert id="insertDeptInfo">
		INSERT INTO TSEH_DEPT_INFO_M	
		(
			DEPT_CD, DEPT_NM, DEPT_DC, USE_YN, LAST_UPDT_DTM
		)
		VALUES 
		(
			#{deptCd}, #{deptNm}, #{deptDc,jdbcType=VARCHAR}, #{useYn,jdbcType=VARCHAR}, SYSDATE	
		)
   	</insert>

	<update id="updateDeptInfo">
		UPDATE TSEH_DEPT_INFO_M SET DEPT_NM = #{deptNm}
		                           , DEPT_DC = #{deptDc, jdbcType=VARCHAR}    
		                           , USE_YN = #{useYn, jdbcType=VARCHAR} 
		                           , LAST_UPDT_DTM = SYSDATE            
       	WHERE DEPT_CD = #{deptCd}
   	</update>
   	
   	
</mapper>