.blind {
  display: none !important;
}
*:focus {
outline : none; 
}
/* width */
::-webkit-scrollbar {
width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
@-webkit-keyframes showUp {
  0% {
      opacity: 0;
      transform: translateY(10px)
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes showUp {
  0% {
      opacity: 0;
      transform: translateY(10px)
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}
/* input[type="radio"] {
  display:none;
} */
input[type="radio"] + label span {
display:inline-block;
width:16px;
margin-right: 8px;
height:16px;
vertical-align:middle;
border:1px solid #e6e6e6;
border-radius: 50%;
cursor:pointer;
}
input[type="radio"]:checked + label span {
background:url("/resources/img/radio_enabled_sel.png") center no-repeat;
}
html, body{width:100%;height:100%;}
.wrapper {min-height: 100%;margin: 0; padding: 0;}
.clear {clear: both;}
.hidden {
display: none !important;
}

button {border:0; outline: none;}
input[type=password] {
  font-family: 'Malgun gothic', dotum, sans-serif;
}







/*header*/
header{background: #fff;border-bottom: 1px solid #e0e0e0;height: 60px;box-shadow: 0px 2px 6px 2px #eaeaea;padding:0 20px;}
header ul li{display: inline-block; border-right: 1px solid #e0e0e0;height: 60px;vertical-align: top;}
header h1{font-size: 0;background: url(/resources/img/logo.png) no-repeat;width: 159px;height: 38px;margin: 10px 15px}
header ul li a{display: inline-block;width: 80px;text-align: center;padding-top: 32px; height: 40px;}
.menu{background: url(/resources/img/menu.png) no-repeat center 20px;}
.menu:hover{background: url(/resources/img/menu_hover.png) no-repeat center 20px;}

.member {
    float: right;
    border-right: none;
    line-height: 55px;
    right: 35px;
    position: relative;
}

.logout {
    
    float: right;
    display: inline-block;
    position: relative;
    top: -15px;
    
    border-right: none;
}
.logout  a {width:60px}
.logout img {top: 5px; right: 5px; position: relative;}
.member img {top: 10px; right: 5px; position: relative;}

.logo {
  background: #0b285f;
  width: 200px;
  left: -20px;
  position: relative;
}
.toggle {
  left: -20px;
  position: relative;
}
.logo1 {
  position: relative;
  top: 11px;
  border: none;
  left: -10px;
}

/* slide menu */
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 60px;
  width:200px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  background-color: #004B8C;
  overflow: hidden;
  padding-bottom: 84px;
}
.sidenav ul{height: 100%;overflow-y: auto;}
.sidenav ul::-webkit-scrollbar  {
  width: 5px;
  height: 5px;
}
.sidenav ul::-webkit-scrollbar-track {
  background-color: #252525;
}
.sidenav ul::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
}

.sidenav li, .sidenav .sub_menu{
  text-decoration: none;
  color: #a3b9cf;
  display: block;
  font-size: 16px;
  transition: 0.2s;
  margin-bottom: 2px;

}
.sidenav a {
  text-decoration: none;
  display: block;
}

.sidenav li:last-child{margin-bottom: 0;}
.sidenav li a, .sidenav li button{padding-left: 26px;}
.sidenav li button {background-color: #0b336b !important; padding:18px;}
.sidenav a:hover, .sidenav li a.active, .sub_menu.active, { color: #000; font-weight: 800;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* sub menu */
.sub_menu {
  cursor: pointer;
  transition: 0.2s;
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
}

.panel{ display: none; margin:18px 0;}
.open{display: block;}
.sidenav .sub_menu{background: url(/resources/img/up.png) no-repeat right 24px; color: #fff; background-position-x : 169px; }

.sidenav .toggle_on{background: url(/resources/img/down.png) no-repeat right 24px; color: #fff; background-position-x : 169px; }

.sidenav .panel {
  padding-left: 10px;
  /*overflow: auto;
  max-height: 200px;*/
  font-size: 14px;
  margin: 16px 0;
}
.sidenav ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sidenav ::-webkit-scrollbar-track {
  background-color: #252525;
}
.sidenav ::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
}
.sidenav .panel a{display: block;padding-bottom: 10px;}
.sidenav .panel a.active {color: #fff}

/* menu icon */
/*.sidenav li:first-child{}
.sidenav li:nth-child(2){}
.sidenav li:nth-child(3){background: url(/resources/img/menu03.png) no-repeat left;}
.sidenav li:nth-child(4){background: url(/resources/img/menu04.png) no-repeat left;}
.sidenav li:nth-child(5){background: url(/resources/img/menu05.png) no-repeat left;}
.sidenav li:nth-child(6){background: url(/resources/img/menu06.png) no-repeat left;}
.sidenav li:nth-child(7){background: url(/resources/img/menu07.png) no-repeat left;}
.sidenav li:nth-child(8){background: url(/resources/img/menu08.png) no-repeat left top 6px;}
.sidenav li:nth-child(9){background: url(/resources/img/menu09.png) no-repeat left top 6px;}
*/
.header_wrap{position: fixed;width: 100%; z-index: 999}

/*breadcrumb*/
.breadcrumb {float: right;}
.breadcrumb li {float: left; margin-bottom: 8px; color:#9c9c9c; font-size: 13px;}
.breadcrumb li.active {color: #006ece;}

.input_reset {
position: absolute;
width: 16px !important;
height: 16px !important;
border: 0 !important;
background: url(/resources/img/ic_list_clear.svg)center no-repeat;
outline: none;
top: 48px;
right: 14px;
font-size: 0 !important;
padding: 0 !important;
}
.search_top .input_reset {
top: 13px;
}
.loginArea ul li { position: relative; }
.input_reset {
position: absolute;
width: 16px !important;
height: 16px !important;
border: 0 !important;
background: url("/resources/img/ic_list_clear.png")center no-repeat;
outline: none;
top: 38px;
right: 14px;
font-size:  0 !important;
padding: 0 !important;
}
.input_reset.hidden { display: none; }
.input_reset:focus {outline: none !important;  border: 0}
.loginArea ul li label { font-size: 12px }

/*1227*/
.pop_wrap h4 {margin-bottom: 3rem; border-bottom: 1px solid #eee;}
.costStat {font-weight: 500;}
.costStat li {display: inline-block; margin-right: 1rem;}
.costStat li span {color: #0f5ff1;}
.costStat li img {vertical-align: bottom;}
.cost_btn {margin-top: 2.5rem; text-align: center;}
.cost_btn li a {
    color: #fff;
    padding: 2rem 5rem;
    background: #4d4d4d;
    border-radius: 8px;
    display: block;
}
.cost_list li li:first-child {background: url("/resources/img/front/arrow_right_black_24dp.svg") no-repeat; padding-left: 2rem;}

/* 공통 에러페이지 CSS */
.error {
	text-align: center;
	width: 55%;
	margin: 225px auto;
}

.error > .logo {
	width: auto;
	height: auto;
	float: none;
	margin-top: 0;
	background: no-repeat;
	font-size: 1.3em;
	font-weight: 700;
	color: #374da5;
}

.error h1 {
	padding-top: 45px;
	margin-top: 45px;
	font-size: 32px;
	border-top: 1px solid #b7b7b7;
}

.error p {
	margin-top: 25px;
	line-height: 36px;
	font-size: 22px;
}

/*0128*/
.noti_pw {
    width: 300px;
    padding-bottom: 10px;
}
.ok_pwBtn a{
    padding: 1rem 0 !important;
}
.noti_pwBtn input {
    width: 95%;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.ok_agree {text-align:left!important;}
.okdone {
    position:initial ;
    display: inline-block!important;
}