html,body{background: #f7f7f7;}
.clear{clear: both;}
a{color:inherit; cursor: pointer;}
input, select{padding: 3px 0; min-width: 95px;display: inline-block;box-sizing: border-box;vertical-align: sub;}
.srchTxt {vertical-align: baseline !important;}
.branch_magt input, .branch_magt select {
    background: #6d8cb7;
    color: #fff;
    border: 1px solid #6d8cb7;
}
label {vertical-align: sub;}
input[type=radio]:not(old) {
    min-width: 10px; 
} 
input[type=radio]:not(old) + label {
    display: inline-block; 
    text-align: left; height:20px; 
    background: url(/images/check_off_2.png) no-repeat 0 0; 
    line-height: 130%; vertical-align: top;
}
input[type=radio]:not(old):checked + label {
    background: url(/images/check_on_2.png) no-repeat 0 0;
}
::placeholder {width: 100%;}
input[type=checkbox]{min-width: 14px;height: 14px;}

.inlineBtn {display: inline-block; padding:  3px 0 }
.boardlist {top: 20px; position: relative;}
/*contents*/
#contents {/* min-width:1400px; */transition: margin-left .5s;padding: 85px 50px 50px;margin-left:200px;}
.title{font-size: 18px;font-weight: 500;display: inline-block;vertical-align: -webkit-baseline-middle;}
.title:first-child{margin-top: 0;}
.whiteBox, .input_form {
  background: #fff;
  box-shadow: 0px 2px 4px 2px #eaeaea;
  margin:0 0 20px 0;
}
p.info {background: unset; color: #de0e0e;}

.sName {border-bottom: 1px solid  #eaeaea;margin-top: 10px; display: none; display: none;}
.sName h3 {margin-bottom: 10px;}
.searchBox{padding: 12px 10px;}
.searchBox .top p{display: inline-block;font-weight: bold;padding:0 10px;vertical-align: sub; margin-left: 5px;}
.searchBox .top p:first-child{padding-left: 0; margin-left: 0;}
.searchBox .top{
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 10px;

}
.searchBox .top a.grayBtn, .searchBox .top a.blueBtn, a.orangeBtn, .searchBox .top a.redBtn{margin-left: 4px;}
.searchBox .right_box{margin-top: 20px;}
.searchBox input, .searchBox select{
    vertical-align: -webkit-baseline-middle;
    border: 1px solid #c0c0c0;
    padding: 4px;
    height: 30px;
}
input[type='radio'],
input[type='radio']:checked {
vertical-align: middle;
}

.refresh {    
    position: absolute;
    top: 10px;
    right: 0;
  }
.detailBtn {
    vertical-align: sub;
    display: inline-block;
    background: #858585;
    color: #fff;
    padding: 4px 15px;
    border-radius: 5px;
  }

.marginBtn {margin-left: 8px;}
.update {color: #adadad;}
.update img {vertical-align: middle; margin-right: 5px;}


/*btn*/
.boardlist > a:first-child {margin-left: 5px !important;}
.skyBtn {background:#28b2e7!important ;vertical-align:sub;display: inline-block;color: #fff;padding: 4px 20px;border-radius: 5px;}
.blueBtn{ vertical-align:top; display: inline-block;background: #3670c5 !important;color: #fff;padding: 4px 20px;border-radius: 5px;}
.blueBtn:hover{background: #1b5fc3;cursor:pointer;}
.grayBtn{z-index: 9999;vertical-align:top; display: inline-block;background:#585858 !important; color: #fff;padding: 4px 20px;border-radius: 5px; margin-left: 3px;}
.grayBtn:hover{background: #717171;cursor:pointer;}
.redBtn{vertical-align:top;display: inline-block;background: #ce4848!important;color: #fff;padding: 4px 20px;border-radius: 5px;}
.redBtn:hover{background: #b92d2d;}
.right_box a{margin-left: 3px;}

.grayTxt{color: gray;vertical-align: sub;}
.blueTxt{color: #2b6bfb;font-weight: 400;}
.redTxt{color: #fd3434;font-weight: 400;}

/* main table*/
table{width: 100%;}
table tr td{
  white-space: nowrap;
  /*text-overflow: ellipsis;*/
  overflow: hidden;

}
.search_tab tr td {text-align:right;}
.main_table{width: 100%;text-align: center;}
.main_table tr th{font-weight: 400; background:#f6f6f6}
.main_table tr td{border-bottom: 1px solid #e4e4e4;}
.main_table tr:last-child td{border-bottom: 0;}
.main_table tr th, .main_table tr td{padding: 8px 2rem;position: relative;border-left:1px solid #ebebeb;border-bottom: 1px solid #ebebeb;}

.edit, .del {border: none; background:unset; cursor: pointer;}


/*page num*/
.page_num{text-align: center;}
.page_num li{display: inline-block; color: gray; }
.page_num .active, .page_num a:hover{font-weight: 500; color: #333;}
.page_num a{cursor: pointer;display: inline-block;padding:0 4px;}
.page_num .before2{background:url(/resources/img/before2.png) no-repeat;}
.page_num .before{background:url(/resources/img/before.png) no-repeat;}
.page_num .after{background:url(/resources/img/after.png) no-repeat;}
.page_num .after2{background:url(/resources/img/after2.png) no-repeat;}
.page_num .before2, .page_num .before, .page_num .after, .page_num .after2{padding:0 2px;height:10px; width:11px;}

/* box size */
.row {margin-right: -15px; margin-left: -15px;}
.lg-3, .xs-6, .lg-4, .lgm-6{float: left;position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;box-sizing: border-box;}
.xs-6 {width: 50%;}
@media (min-width: 1200px) { 
  .lg-3{width: 25%;}
  .lg-4{width: 33.333%;}
  .lgm-6 {width: 66.667%;}
}
@media (max-width: 1200px) { .xs-6{width: 100%;} }

/* menu.html */
.menu_list{width: 200px!important;padding: 0!important;max-height: 800px;vertical-align: top;overflow: auto;display: inline-block;margin: 10px 15px;float: left;}
.menu_list li{border-bottom: 1px solid #e4e4e4;padding: 10px;cursor: pointer;}
.menu_list li:hover{background-color: #f5f5f5;}
.menu_list .active, .menu_list .active:hover{background: #c7dcf3;border: 1px solid #aec8e4;font-weight: 400;}
.menu_list li a{padding:10px;}
.menu_list .panel{margin:10px 0;}
.menu_list .panel a{display: block;padding: 6px 20px;}
.menu_list .sub_menu{background: url(/resources/img/down_black.png) no-repeat right;}
.menu_list .toggle_on{background: url(/resources/img/up_black.png) no-repeat right;}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}
::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
}
.input_form{padding: 10px; }
.input_form a {vertical-align: sub;}
.input_form table tr th, .input_form table tr td {text-align:left;border-bottom: 1px solid #e4e4e4;padding:8px 0;}
.input_form table tr:last-child th, .input_form table tr:last-child td{
  border-bottom: none;
}
.input_form table tr th{font-weight: 400;}
.input_form input, .input_form select{width: 270px;}
.input_form input[type="checkbox"] {
width: inherit!important;
vertical-align: top;
margin-right: 6px;
}
.input_form.lg-3 input[type="text"], .input_form.lg-3 select{width: 100%;}

/*notice.html*/
.top em{padding:0 3px;font-weight: 500;vertical-align: sub;}
.on{background: url(/resources/img/on.png) no-repeat center;}
.off{background:url(/resources/img/off.png) no-repeat center;}

/* con_menu */
.con_menu{border-top: 2px solid #ececec;padding-top: 14px;margin: 14px 0 20px 0;}
.con_menu li{margin-right: 8px; display: inline-block;}
.con_menu li {
  padding: 4px 18px; box-sizing: border-box; border-radius: 3rem;
  font-size: 16px; color: #868686;
  background:#fff; border: 1px solid #d8d8d8;
}
.con_menu li.active, .con_menu li:hover{color:#fff;border: 1px solid #468fd3;background: #468fd3;}

/* table_sel */
.table_sel {
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: text-top;
}
.table_sel li{
  margin-left: -1px;
  box-sizing: border-box;
  float: left;
}
.table_sel li.active a {color: #fff; background: #3a3a3a; border:1px solid #3a3a3a;}
.table_sel li a {
    padding: 6px 15px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    background: #fff;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 400;
}
.table_sel li a:hover{color: #a9a9a9;}

/* notice_resgister.html */

.detail_table {border-top:1px solid #e2e2e2!important; }
.detail_table input{vertical-align: top;}
.detail_table tr th, .detail_table tr td{border-bottom: 1px solid #e2e2e2;}
.detail_table tr th{background: #eee; text-align: left; font-weight: 400; padding: 8px 1rem;}
.detail_table tr td {padding: 8px 1rem;}
#bas_interfaceinfo .detail_table tr td{    
	max-width: 1000px;
    overflow-x: auto;
}
.input_tit{width: 100%;}
.input_text{
  width: 100%;
  min-height: 300px;
  max-height:600px;
  overflow:auto;
  border:1px solid #ccc;
  padding: 0;
}

/* seat_list.html */
.top div:last-child{}
.date_sel{display: inline-block;}
.date_sel{vertical-align: -webkit-baseline-middle;}
.date_sel li{
  margin-left: -1px;
  box-sizing: border-box;
  float: left;
}
.date_sel li a {padding: 3px 14px; border: 1px solid #dddddd; box-sizing: border-box; background: #fff;}
.date_sel li.active a {color: #fff; background: #3a3a3a; border:1px solid #3a3a3a;}
.date_sel li:hover{color: #a9a9a9;}

.halfBox{width:49%!important;}
.halfBox:last-child{float:right;}

.input_n_btn a{width: 20%!important;}
.input_n_btn input{width: 65%!important;}
.input_n_btn select{width: 65%!important;}
select[multiple]{max-height: 100px; overflow: auto;}
.input_form input[type="textarea"]{
  width: 100%;min-height: 200px;box-sizing: border-box; max-height: 500px; overflow:auto;
} 
.tit_noti{margin-left: 10px; vertical-align: bottom;}

/* margin */
.top10{margin-top: 10px;}
.align_left {text-align: left; }

/* cafe */
.goods_tit{
  margin:20px 0; padding-bottom: 20px; border-bottom: 2px dotted #dedede;
  background: url(/resources/img/goods_next.png) no-repeat right top 10px;
}
.goods_tit div{margin-top: 16px;}
.bottom_btn{padding-top: 16px; margin-top: 20px; border-top:2px solid #dedede;display: block;}
.state_b, .state_r, .state_g, .state_o{
  display: inline-block;
  width: 80px;
  border-radius: 2px;
  padding: 4px 0;
  color: #fff;
  text-align:center;
  vertical-align: -webkit-baseline-middle;
}
.state_b {background: #468fd3;}
.state_r {background: #e03838;}
.state_g {background: #a7a7a7;}
.state_o {background: #f58b31;}
.cal_icon{background:#fff url(/resources/img/cal_icon.png) no-repeat center right 8px; position: relative; top: -3px;}

.info_table, .info_table input {text-align:center;}
.info_table th{background: #eee;font-weight: 400;}
.info_table tr th, .info_table tr td{padding:10px;border-right: 1px solid #e2e2e2;}
.info_table tr th:last-child, .info_table tr td:last-child{border-right: none;}

.img_view{vertical-align: -webkit-baseline-middle;margin-left:10px;border: 1px solid #dadada;padding: 3px 8px;}
.img_pop {height: 400px;width: 500px; overflow: hidden;}
.img_pop .view{height: 100%;}

.scroll_wrap {max-height: 540px;overflow:auto;}
.scroll_wrap table thead th{position: sticky;top: 0; background-color: #fff;}

.selected_wrap{overflow-x: auto;}
.selected{padding:10px 0; }
.selected span{
  background: #efefef;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6rem;
  margin-left: 12px;
}
.selected span:first-child{margin-left: 0;}
.selected span a{padding-left: 6px;font-weight: 500;}
.result_num{
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #cecece;
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
}
.tr_select tbody tr:hover{background-color: #eee;}
.tr_select tbody tr.active{background: #5b8ad0;color: #fff;}

.table_link:hover { border-bottom: 1px solid #333 }
.cur_poin:hover { cursor: pointer; background:#f5f9ff; }

.tit_sub{margin-left: 10px;vertical-align: bottom;color: gray;}

/*popup*/
.select {color: blue; font-weight: 600; }
.select:hover {text-decoration: underline;}
.redsel {
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 5px;
    background: #878787;
}
.redsel:hover {text-decoration: underline;}
.button.b-close, .button.bClose, .button.bCloseT {
    position: absolute;
    right: 14px;
    top: 14px;
    font-size: 0;
    width: 19px;
    height: 20px;
    background: url(/resources/img/close.png) no-repeat;
    }
.popup{
    max-width: 1400px;
    max-height: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    overflow: auto;
    box-shadow:0px 1px 8px 1px #808080;
}
.pop_con{padding: 16px 16px 40px 16px;}
.pop_tit{font-size: 20px;font-weight: 500;margin-bottom: 20px;border-bottom: 1px solid #eee;padding-bottom: 18px;min-width: 500px;}
.pop_serch{margin:10px 0px;}
.pop_serch input{margin:0 6px; vertical-align: middle;}
.pop_serch a{vertical-align: middle;}
.pop_result{background-color: #fff;border-top:4px solid #efefef; max-height: 200px;overflow-y: auto;}
.pop_result ul li{border-top: 1px solid #e0dfdf;padding: 6px 0;}
.pop_result ul li:first-child{border-top: 0;padding-top:0;}
.pop_result ul li input{margin-right: 4px;vertical-align: top;}
.noti_pop{width: 300px; text-align:center;}
.noti_pop p{
  font-weight: 400;
  font-size: 18px;
  background: url(/resources/img/noti_icon.png) no-repeat top;
  padding: 50px 0 10px 0;
}
/* popup btn */
.popBtn_b{
  background: #3670c5;
  color: #fff;
  display: block;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  width: 100%;
}
.popBtn_g{
  background: #b5b5b5;
  color: #fff;
  display: block;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  width: 100%;
}
.popBtn_box a{display: inline-block;width: 50%;float: left;}

.upload table tr td, .upload table tr th{padding:8px 12px;}
.upload .redBtn{margin-bottom: 10px;}
/* popup register */
.popup .right_box .grayBtn, .popup .right_box .blueBtn, .orangeBtn, .popup .right_box .redBtn{
  font-size:16px;padding:6px 24px;
}
.popup .cal_icon{background-size: 16px;padding-right: 16%!important;}
.tdBtn{
  box-sizing: border-box;
  text-align: center;
  padding: 3px 10px;
  border-radius: 2px;
  background: #929292;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  vertical-align: sub;
}
.preview{height: 300px;}
.preview div{
  background:url(/resources/img/ex.jpg)no-repeat center;
  height: 100%; background-size: cover;
}
.left80 {margin-left: 84px; vertical-align: baseline;}
.saveBtn, .canBtn {
    background: #d6d6d6;
    vertical-align: sub;
    display: inline-block;
    color: #fff;
    padding: 4px 20px;
    border-radius: 2px;
    }
.canBtn {margin-left: 5px; color: #000;}
.pBtn a{
    font-size: 0.7em;
    vertical-align: inherit;
    float: right;
}
#subMenuList input{width: 95%;}
#subMenuList{overflow: auto;}
.sub_add{
  background:url(/resources/img/sub_add.png)no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 8px;
}
.sub_del{
  background: url(/resources/img/sub_del.png)no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 12px;
}
.pop_tit em.grayTxt{font-size: 14px; vertical-align: inherit; margin-left: 4px;}
.pop_table .table_sel{width: 100%; margin-bottom: 20px;}
.pop_table{min-width:600px;}
.input_noti{width: 100%; height: 120px;overflow: auto;}
/*popup scroll*/
.popup ::-webkit-scrollbar {width: 8px;height: 8px;cursor: zoom-in;}
.popup ::-webkit-scrollbar-track {background-color: #d4d4d4;}
.popup ::-webkit-scrollbar-thumb {background-color: #7d7d7d;}
.popup .page_num{padding: 16px 0;}
.popup .state_b, .popup .state_r, .popup .state_g, .popup .state_o{margin-left:10px;}
.padding_r0{padding:8px 0 8px 10px!important;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.td_term ul{display: inline-block;}
.td_term ul:first-child{border-right: 1px solid #ccc;padding-right: 8px;}
.td_term ul li{padding: 0 2px; display: inline-block;}
.td_term ul input{vertical-align: middle;margin: 0 6px;}
.td_term ul input[type="text"]{width: 30px;}
select .none{color: #b5b5b5;}
select option{margin:6px 0;}
@media (max-width: 1200px) {
  #contents{width: 95%;padding: 80px 30px;} 
}

/*20210122 tree menu*/
.b-modal { background-color:rgb(0, 0, 0, 0.8);}
#ui-datepicker-div .ui-state-active {
  background: #d8f0e8;
  border:0
}
#ui-datepicker-div .ui-state-highlight{
  background: #1b76c5;
  border:0;
  color: #fff;
}
.input_form.lg-3 table tr th{
  width:82px;
}
.file_nam_table {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width:270px;
}
.table_new_style td { padding-right:15px}
.seatPosi_new { background: #fff; box-sizing:border-box;text-align:center; margin-top:15px}
.seatPosi_new table input { min-width:auto; margin:0 2px !important;}
.seatPosi_new table input.cal_icon {width:110px; font-size:13px; text-align:left}
.seatPosi_new input[type="text"] { width:55px; height:30px; margin:0 8px; padding-left:0; text-align:center;}
.seatPosi_new table thead th {background:#757575 ; color:#fff;}
.seatPosi_new table thead th, .seatPosi_new table tbody td{text-align: center;position: relative;padding: 10px 3px;}
.seatPosi_new tr:nth-child(2n) { background: #f9fdff }
.select_table {background:#f3f3f3 !important; color:#3670c5;font-weight:700}

.m_pop{width:600px;}
.filebox label { 
    display: inline-block;
    padding: 3px 20px;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background: #f9f9f9;
  }
.filebox input[type="file"] {  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
/*dashboard*/
.dash_box {box-shadow: 0px 2px 4px 2px #eaeaea;background: #fff;padding: 30px 40px;box-sizing: border-box;margin-top: 10px;display: flex;min-height: 140px;position: relative;align-items: center;}
.dash_box .icon_con {position: absolute;left: 40px;top: 35px}
.dash_box .icon_con i { width: 91px; height: 70px; display: block; }
.dash_box .icon_con.icon_seat i { background: url("/resources/img/icon_seat.png")center no-repeat; }
.dash_box .icon_con.icon_meeting i { background: url("/resources/img/icon_meeting.png")center no-repeat; }
.dash_box .icon_con.icon_visit i { background: url("/resources/img/icon_visit.png")center no-repeat; }
.dash_txt .tit {color: #000;font-size: 16px;padding-bottom: 7px;font-weight: 500;padding-top: 7px; width: 300px;}
.dash_txt .tit span a {float: right;}
.dash_txt .txt {font-size: 30px;font-weight: 800;line-height: 41px; color: #2b82ce;}
.dash_txt .txt span {color: #808080;font-size: 18px;font-weight: 500; }

.dash_txt {
    position: relative;
    padding-left: 115px;
    vertical-align: middle;
}
.chart_box {box-shadow: 0px 2px 4px 2px #eaeaea;background: #fff;padding: 30px 40px;box-sizing: border-box;margin-top: 20px;position: relative;}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
    font-size: 16px
}
.chart_box { height: 390px }
.chart_box .chart_tit{color: #333;font-size: 18px;padding-bottom: 7px;padding-bottom: 20px;font-weight: 700;text-align: center;}
.xs-6 .dash_box { margin-top: 20px }
.dash_move {display: flex;align-items: center;width: 100%;margin:5px 0;min-height: 35px;position: relative;}
.dash_move span.dash_move_lang {display: inline-block;width: 45px;height: 45px;text-align: center;background: #f5f5f5;color:#928d8d;font-weight: 700;line-height: 2.5em;font-size: 18px;border-radius: 4px;}
.dash_move_con span { color: #808080; font-size: 14px }
.dash_move_con {padding-left: 24px;}
.dash_move_con p {font-size: 16px;font-weight: 700;padding-top: 8px;max-width: 290px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.nowPerson {
    font-size: 12px;
    position: absolute;
    right: 36px;
    top: 43px;
    color: #adadad;
}
.dash_move_num {position: absolute;right: 0px;top: 4px;color: #000;font-size: 13px;font-weight: 300;}
.dash_move_num span { font-size: 16px; color: #808080; font-weight: 500; padding-right: 3px; }
.dash_move_num .onEvent {
    padding: 5px 24px;
    background: #1D7CC5;
    border-radius: 17px;
    color: #fff;
    font-size: 14px;
    padding-right: 3px;
}
.dash_move_num .entrance {
    padding: 5px 17px;
    background: #D24040;
    border-radius: 17px;
    color: #fff;
    font-size: 14px;
}
.dash_move_num .close {
    padding: 5px 25px;
    background: #949494;
    border-radius: 17px;
    color: #fff;
    font-size: 14px;
}
.dash_move_num .full {
    font-weight: 900;
    color: #ff0000;
    font-size: 16px;
}
.dash_move::after {
  content: '';
  right: 100px;
  width: 54%;
  display: block;
  border-top: 1px dashed #dadada;
  position: absolute;
}
.dash_move_wrap {box-shadow: 0px 2px 4px 2px #eaeaea;background: #fff;padding: 30px 40px;box-sizing: border-box;margin-top: 20px;min-height: 140px;position: relative; margin-bottom: 50px;}
.chart_move_wrap { height:382px  }
.lg-3 .dash_box { margin-top: 20px }
.dash_box .icon_con.icon_rest01 i { background: url("/resources/img/icon_rest01.png")center no-repeat; }
.dash_box .icon_con.icon_rest02 i { background: url("/resources/img/icon_rest02.png")center no-repeat; }
.dash_box .icon_con.icon_rest03 i { background: url("/resources/img/icon_rest03.png")center no-repeat; }
.dash_box .icon_con.icon_rest04 i { background: url("/resources/img/icon_rest04.png")center no-repeat; }
.dash_table { margin-top: 20px; margin-bottom: 50px}
.dash_table .tit{color: #333;font-size: 18px;padding-bottom: 7px;font-weight: 700;}
.horizon_chart_nam {position: absolute;top: 80px;right: 31px;}
.horizon_chart_nam li {padding-bottom: 2.5px;font-weight: 700;color: #787c8e;text-align: right;}
.dash_move_wrap .tit{color: #333;font-size: 18px;padding-bottom: 7px;font-weight: 700;}
/*ìƒ í•˜ -ìžìœ¨ì¢Œì„*/
.t_top .table_up, .t_top .table_down {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0;
  outline: none;
  cursor: pointer;
  border:0;
  vertical-align: sub;
  padding: 0;
}
.t_top .table_up {background: url("/resources/img/ic_textfield_dropdown_fold.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.t_top .table_up:hover  {background: url("/resources/img/ic_textfield_dropdown_fold_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.t_top .table_up.active  {background: url("/resources/img/ic_textfield_dropdown_fold_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.t_top .table_down { background: url("/resources/img/ic_textfield_dropdown_open.png");background-repeat: no-repeat;background-position: center;background-size: 10px; }
.t_top .table_down:hover  {background: url("/resources/img/ic_textfield_dropdown_open_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.t_top .table_down.active  {background: url("/resources/img/ic_textfield_dropdown_open_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.t_top .table_line_list {display:inline-block;vertical-align: middle;padding-left: 2px; float:right;}
/*ì¢Œ ìš° -íšŒì˜ì‹¤ */
.left .table_up, .left .table_down {
  display: inline-block;
  width: 13px;
  height: 10px;
  margin: 0;
  outline: none;
  cursor: pointer;
  border:0;
  vertical-align: middle;
  padding: 0;
}
.left .table_up {background: url("/resources/img/ic_textfield_dropdown_fold.png");background-repeat: no-repeat;background-position: center;background-size: 10px;margin-left: 7px;}
.left .table_up:hover  {background: url("/resources/img/ic_textfield_dropdown_fold_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.left .table_up.active  {background: url("/resources/img/ic_textfield_dropdown_fold_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.left .table_down { background: url("/resources/img/ic_textfield_dropdown_open.png");background-repeat: no-repeat;background-position: center;background-size: 10px; }
.left .table_down:hover  {background: url("/resources/img/ic_textfield_dropdown_open_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}
.left .table_down.active  {background: url("/resources/img/ic_textfield_dropdown_open_active.png");background-repeat: no-repeat;background-position: center;background-size: 10px;}

/*bas_wrao*/
.right_wrap{margin-top: 193px;}

.right_wrap .right_box.blueBtn {
  position: absolute;
  right: 15px;
  top: 150px;
}
.main_table td.select { cursor: pointer;}
.popup .main_table tr th:last-child, .popup .main_table tr td:last-child {border-right:1px solid #ebebeb ;}
.popup .main_table  {border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb ;}
.popup .detail_table td select, .popup .detail_table td input[type="text"], .popup .detail_table td textarea{
  min-width:160px ;
  vertical-align:baseline;
}
#selectBtn{vertical-align: sub;}
#datePick {outline: none;border:1px solid #c0c0c0}
.left_box { margin-top: 20px; display: inline;}
/* 공통 디자인 (총 개수, n개씩 보기) */
.mng_countInfo p{line-height: 30px; margin-right: 15px; display: inline;}
.mng_countInfo select {display: inline-block;width: 120px;padding: 4px;vertical-align: middle;}
.mng_visibleList select{
  width: 120px;
  float: left;
  vertical-align: -webkit-baseline-middle;
  border: 1px solid #c0c0c0;
  padding: 4px;
}
/* popup Design */
.pop_wrap{margin-bottom: 20px;}
/*.popup th{width: 20%;}*/
.popup input[type="text"], .popup select, .popup textarea{
  width: 137px;
  vertical-align: top;
  border: 1px solid #c0c0c0;
  padding: 4px;
}
.popup textarea {width:100%!important;}
/* 20210924 */
.tabs{float: left;}
.tabs>.tab{
  width: 120px;
  float: left;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-right: none;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.tabs>.tab:last-child{border-right: 1px solid #d8d8d8;}
.tabs>.tab.active{background-color: #efefef;}
.tabs~.right_box{margin-top: 10px;}
.blacklist.main_table tbody{display: none;}
.blacklist.main_table th:nth-child(5){width:200px;}
.blacklist.main_table>tbody.active{display: table-row-group;}
.blacklist_add_table select{}
.blacklist_add_table input[type="text"], .vaccin_add_table tr:last-child input[type="text"]{}
.searchBox.searchBox_bottom input[type="text"]{width: 300px; padding: 5px;}
.searchBox.searchBox_bottom .top{border-bottom: none; display: inline-block; position: relative; left: 50%; top: 20px; transform: translateX(-50%);}
/* 20210927 */

.mms_mng_container>div{width: calc(100% / 2 + 150px); height: 680px; padding: 20px; margin-right: 1rem;}
.mms_mng_container .detail_table th{width: 100px;}
.mms_mng_container span.delBtn{float: right; font-size: 16px; font-weight: 700; padding: 0 5px;}
.mms_title{font-size: 16px; font-weight: 700; line-height: 30px; margin-bottom: 5px; padding-left: 5px;}
.mms_title .grayBtn{font-size: 12px; font-weight: 400; line-height: 16px; vertical-align: middle; margin-left: 10px;}

.mms_select_check .detail_table th{text-align: left;}
.mms_select_check .detail_table tr:nth-child(3) th{vertical-align: top; padding-top: 10px;}
.mms_select_check select{border: 1px solid #c0c0c0;}
.mms_select_check input[type="text"]{width: 40%; margin-top: 8px; vertical-align: middle;}
.mms_selectedUserList .detail_table td{padding: 0 !important; border-left: 2px solid #f9fdff; display: block; overflow-y: scroll; height: 620px;}
.mms_selectedUserList ul>li{padding: 5px 10px; overflow: hidden;}
.mms_selectedUserList ul>li:nth-child(1){background-color: #f5f5f5; padding: 8px 10px; color: #000;}
.mms_selectedUserList ul>li>a{display: block; width: calc(100% - 20px); float: left; padding: 2px 0;}
.mms_selectedUserList ul>li>a>span{color: #a9a9a9;}
.mms_messageBox{background: url(/resources/img/mms_bg.png) no-repeat; width: 300px;  height: 465px; position: relative; left: 50%; transform: translateX(-50%); top: 10px; margin-bottom: 30px;}
.mms_messageBox>*{position: absolute;}
.mms_messageBox textarea{width: 220px; height: 250px; left: 50%; top: 80px; resize: none; padding: 20px; transform: translateX(-50%); line-height: 30px; font-size: 18px; box-sizing: border-box; border-color: #c0c0c0; outline: 0;}
.mms_messageBox span{display: block; width: 130px; text-align: right; left: 30px; top: 350px; line-height: 30px;}
.mms_messageBox a:nth-of-type(1){top: 350px; right: 40px;}
.mms_messageBox a:nth-of-type(2){top: 400px; left: 40px; padding: 10px 15px;}
.mms_messageBox a:nth-of-type(3){top: 400px; right: 40px; padding: 10px 20px;}
.mms_message .detail_table input[type="text"]{width: 200px; border: 1px solid #c0c0c0;}
.mms_message .detail_table a{width: calc(50% - 50px); text-align: center;}
/*0928*/
.setTxt input {
width: 50%;
position: relative;
left: -80px;
padding-left: 5px;
}
/*.setTxt tr:nth-child(4) input {left:-50px }*/
.setTxt tr:nth-child(4) span {position: relative; left: -40px;}
.center_box {text-align: center;}
.salestab th{background: #e7e7e7 !important; border-right: 1px solid #d1d1d1;}
/* 20210929
.bld_innerTable{padding: 0 !important;}
.pop_seat_setting>div{height: 500px; float: left; box-sizing: border-box;}
.pop_seat_setting .subTitle{font-size: 16px; padding: 5px; background-color: #fff;}
.pop_seat_setting>.mapArea{border: 1px solid #eaeaea; width: 800px; height: 480px; overflow: hidden;}
.pop_seat_setting .seat{width: 100%; height: 100%; position: relative;}
.pop_seat_setting .seat li{width: 30px; height: 30px; line-height: 30px; background: #1D7CC5; color: #fff; border-radius: 100%; text-align: center; position: absolute;}
.pop_seat_setting .seat li:nth-child(1){left: 175px; top: 10px;}
.pop_seat_setting .seat li:nth-child(2){left: 205px; top: 10px;}
.pop_seat_setting .seat li:nth-child(3){left: 235px; top: 10px;}
.pop_seat_setting .seat li:nth-child(4){left: 265px; top: 10px;}
.pop_seat_setting .seat li:nth-child(5){left: 175px; top: 55px;}
.pop_seat_setting .seat li:nth-child(6){left: 205px; top: 55px;}
.pop_seat_setting .seat li:nth-child(7){left: 235px; top: 55px;}
.pop_seat_setting .seat li:nth-child(8){left: 265px; top: 55px;}
.pop_seat_setting .seat li:nth-child(9){left: 175px; top: 100px;}
.pop_seat_setting .seat li:nth-child(10){left: 205px; top: 100px;}
.pop_seat_setting>.seatLocationInfo{width: calc(100% - 810px); margin-left: 10px;}
.pop_seat_setting>.seatLocationInfo table{display: block; width: 100%; height: 440px; overflow-y: auto; margin: 8px 0; border-bottom: none;}
.pop_seat_setting>.seatLocationInfo tbody tr:last-child td{border-bottom: 1px solid #ebebeb;}
.pop_seat_setting>.seatLocationInfo input[type="text"]{min-width: 20px; width: 100px;}
.pop_seat_setting>.seatLocationInfo input[type="text"].positionValue{width: 40px; text-align: center;}
.pop_seat_setting>.seatLocationInfo select{min-width: 20px; width: 80px;} */
/*0930*/
#fulltxt {width: 90%;}
.inTxt td input[type="text"]{ text-align: center; }
.orangeBtn{vertical-align:sub;display: inline-block;background:#6fa2ff!important; color: #fff;padding: 4px 10px;border-radius: 5px; font-size: 14px;}
.orangeBtn:hover{background: #ffa344;}
.section_add img {vertical-align: bottom; margin-right: 5px;}
.branch {  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    display: inline-block;
    color: #1b7ef9;
}
.inlineBtn a {background: #2b2b2b !important;}

/*211115*/
.pop_wrap { margin-bottom: 20px;}
.popup{
    max-width: 1400px;
    max-height: 885px;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    overflow: auto;
    box-shadow:0px 1px 8px 1px #808080;
}

.srch_bar p {display: inline; vertical-align:sub;}
.srch_bar {margin-bottom: 10px;}

.sum_srch a {
    background: #5c5c5c;
    color: #fff;
    border-radius: 4px;
    line-height: 1.8em;
    vertical-align: sub;
    font-size: 13px;
}

.mms_mng_container{display: flex; justify-content: center;}
.mms_con1 .detail_table td {height: 580px !important;}

/*rsv_mms_mng 211115*/
.srch_option {
    height: 140px;
    overflow: auto;
    display: block;
}
.mms_mng_container .srch_option td { width:400px; }
.mms_title label {vertical-align: baseline!important;}
.mms_title input {vertical-align: text-bottom!important;}
.mms_select>div{margin-bottom: 18px;}
.mms_select_input input[type="text"], .mms_select_group input[type="text"]{width: 90%; border: 1px solid #c0c0c0; padding: 6px; margin-bottom: 7px; outline: 0; background: url(/resources/img/ico_search.png) no-repeat right;}
.search a {
    padding: 8px 10px;
    background: #529fff;
    color: #fff;
    border-radius: 4px;
    vertical-align: sub;
    font-size: 13px;
}
/*211116*/
.save_mms {text-align: center;}
.save_mms textarea{height: 120px; border: 1px solid #e0e0e0; border-radius: 4px; width: 130px!important; resize: none;}
.save_mms >li {
    width: 30%;
    display: inline-block;
    margin-bottom: 10px;
    background: #f5f5f5;
    padding: 8px 0;
}
.save_mms >li span {margin-right: 5px; color: #787878;}
.save_mms li ul{display: inline; }
.save_mms >li li:first-child {font-size: 12px;}
.center_box {text-align: center;}
.mms_sel_num {margin: 0 0 10px 5px;}
.rsv_mms {margin-bottom: 40px; text-align: center;}
.rsv_mms li {display: inline-block;}
.rsv_mms_tit span {vertical-align: sub; margin-right: 10px;}
.datepicker {
    background: #fff url(/resources/img/cal_icon.png) no-repeat center right 8px;
    border: 1px solid #c0c0c0;
    padding: 5px 0;
}
#sp_MessageAlert, #sp_Message {text-align: center; display: flow-root;}
#db_closePop {text-align: center; float: none;}
#tr_C21110416_05_01 input, #tr_C21110416_05_01 select {min-width: 125px;}

/*1206*/
.footerBtn {text-align: right; margin-right:15px;}
.mattersArea th {background:#eee; padding: 0.5rem 3.5rem;}
.mattersArea td {padding: 0.5rem 1.5rem;}
.mattersArea th, .mattersArea td {border: 1px solid #e0e0e0; }
.right_box {margin-left: 5px; float: right;}
.ui-jqgrid .ui-jqgrid-htable th div{
    outline-style: none;
    height: 30px;
   }
.ui-jqgrid tr.jqgrow {
    outline-style: none;
    height: 30px;
   } 
.upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
   }
.upload-btn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 14px!important;
      font-weight: bold;
   }
.upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
   }
#fileDragDesc {
      width: 100%; 
      height: 100%; 
      margin-left: auto; 
      margin-right: auto; 
      padding: 5px; 
      text-align: center; 
      line-height: 300px; 
      vertical-align:middle;
    }
#ui-datepicker-div {border: 1px solid #e0e0e0}

/*1210*/
.point {color:#f93939; font-size:.9em; font-weight:500}
.save_mms textarea {cursor:pointer;}
.ui-datepicker-div {width:300px!important;}
#tb_fileInfo tr td:first-child {text-align:center;}

/*qr출력*/
.pint_a {float: right;}
.qrPrint {width: 50%; margin: auto; padding-bottom: 30px;}

/*1217 qr코드 백신정보*/
.vacState {
    text-align: center;
    margin-bottom: 2rem;
}
.vacState span{
    font-weight: 400;
    background: #f1f1f1;
    padding: 4px 10px;
    border-radius: 25px;
}
.vacState .vacDone {color: #1ba100;}
.vacState .vacNon {color: #f72626;}

/*1217 qr코드출력버튼*/
.pint_a a {
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
    background: #f5f5f5;
    color: #000;
}
.pint_a img {vertical-align:bottom; margin-left: 4px;}

/*지점별통계0125*/
.main_table {margin-top: 1rem;}
.main_table tr:first-child th {background: #4195e3;}
.main_table tr:nth-child(2) th {
    background: #d1d1d1;
    color: #363636;
}
.tabs>.tab.active {background: #105da5; color: #fff;}
.main_table tr th {color: #fff;}
.main_table tr.tb_bottom td{color: #000; font-weight: bold; background-color: #e1e1e1;}
/*0118 jqGrid row img button*/

.del_icon {
	display: block;
	width: 100%;
	height: 30px;
	background: no-repeat center url("/resources/img/del.png");
}
.edt_icon {
	display: block;
	width: 100%;
	height: 30px;
	background: no-repeat center url("/resources/img/edit.png");
}
.atc_icon {
    display: block;
    width: 100%;
    height: 30px;
    background: no-repeat center url("/resources/img/front/ic_title_file.svg");
}
.gui_icon {
    display: block;
    width: 100%;
    height: 30px;
    background: no-repeat center url("/resources/img/front/rsvSel.png");
    background-size: 30px;
}