/*섹션 레이어*/

.circle {
    height: 70%;
}
.section {
    position: relative;
    width: 70%;
    margin: auto;
    height: 100%;
    display: grid;
    align-items: center;
}
.circle span {
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    opacity: 0.9;
    width: 100%;
    display: block;
    font-size: 2em;
    height: 100%;
    position: re;
    display: grid;
    align-items: center;
}
.a_sec {background: #ffbc26;}
.b_sec {background: #4abcff;}
.c_sec {background: #ff6e42;}
.d_sec {background: #b665ff;}
.e_sec {background: #ff65e5;}
.f_sec {background: #6e65ff;}
.g_sec {background: #4b8bff;}
.h_sec {background: #27c7a9;}
.i_sec {background: #1c4acf;}
.j_sec {background: #ff186d;}
.k_sec {background: #426021;}
.gr_sec {background: #206618;}
.n_sec {background: #80D242;}
.p_sec {background: #EC4A4F;}
.s_sec {background: #11195D;}
