<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.sys.msg.mapper.MessageInfoManageMapper">
    
    <select id="selectMsgManageListByPagination" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT SEQNO, INTIME, BIZTYPE, YELLOWID_KEY, REQNAME, REQPHONE, CALLNAME, CALLPHONE, 
                       SUBJECT, MSG, REQTIME, RESULT, KIND, ERRCODE, SENTTIME
				FROM TSEB_MSG_T A
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFrom) and !@org.apache.commons.lang3.StringUtils@isEmpty(params.searchTo)">
					AND TO_CHAR(A.FRST_REGIST_PNTTM, 'yyyymmdd') BETWEEN #{params.searchFrom} AND #{params.searchTo} 
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.CALLNAME LIKE '%'|| #{params.searchKeyword}||'%' 
						OR
						A.CALLPHONE LIKE '%'||#{params.searchKeyword}||'%'
					) 
				</if>
				ORDER BY A.INTIME DESC
			) TB 
		) TA
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	<select id="selectMsgManageDetail" resultType="lmap">
		SELECT SEQNO, INTIME, BIZTYPE, YELLOWID_KEY, REQNAME, REQPHONE, CALLNAME, CALLPHONE, 
               SUBJECT, MSG, REQTIME, RESULT, KIND, ERRCODE, SENTTIME
		FROM TSEB_MSG_T 
		WHERE GROUP_CODE = #{groupCd}
   	</select>
	
	<insert id="insertMsgManage">
	   <foreach collection="messageInfos" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
			INSERT INTO TSEB_MSG_T	
			(
				SEQNO, INTIME, BIZTYPE, YELLOWID_KEY, REQNAME, REQPHONE, CALLNAME, CALLPHONE, 
                SUBJECT, MSG, REQTIME, RESULT, KIND
			)
			VALUES 
			(
				SEQNO_SEQ.NEXTVAL, #{item.intime}, #{item.biztype,jdbcType=VARCHAR}, #{item.yellowidKey,jdbcType=VARCHAR}, 
				#{item.reqname,jdbcType=VARCHAR}, #{item.reqphone,jdbcType=VARCHAR},
				#{item.callname,jdbcType=VARCHAR},  #{item.callphone,jdbcType=VARCHAR},   #{item.subject,jdbcType=VARCHAR},  
				#{item.msg,jdbcType=VARCHAR},  #{item.reqtime,jdbcType=VARCHAR},  #{item.result,jdbcType=VARCHAR}, #{item.kind,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

   	
   	<delete id="deleteMsgManage">
   	    <foreach collection="delCds" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
   	            DELETE FROM TSEB_MSG_T  WHERE GROUP_CODE= #{item}
	    </foreach>		
   	</delete>
    
    
    
    
</mapper>