<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.mng.admin.mapper.AdminInfoManageMapper">
	<select id="selectAdminUserManageListByPagination" resultType="lmap">     	      
		 	SELECT * FROM ( 
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				   ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				   TB.*
		 	FROM (
				    SELECT  a.ADMIN_ID, a.EMP_NO, b.EMP_NM, b.EMP_CLPHN, b.EMP_TLPHN,
	                        b.EMP_EMAIL,  FN_ORGNM(b.DEPT_CD, 'DEPT') DEPT_NM,
	                        a.ADMIN_LOCKYN, a.USE_YN,	
							TO_CHAR(a.LAST_UPDT_DTM, 'YYYY-MM-DD') LAST_UPDT_DTM,
				            a.AUTHOR_CD, c.AUTHOR_NM, a.CENTER_CD,
				            CASE  WHEN ( AUTHOR_CD != 'ROLE_ADMIN' OR  AUTHOR_CD != 'ROLE_SYSTEM') THEN
				                     (SELECT CENTER_NM FROM TSEB_CENTER_INFO_M WHERE CENTER_CD = A.CENTER_CD)
				                  ELSE ''
				            END ADMIN_DVSN
				    FROM   TSEH_ADMIN_INFO_M a , TSEH_EMP_INFO_M b, COMTNAUTHORINFO c
					WHERE a.EMP_NO = b.EMP_NO
					      AND a.AUTHOR_CD = c.AUTHOR_CODE
				          <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
		
								<choose>
									  <when test="params.searchCondition == 'ADMIN_ID'">
									    <![CDATA[
									      AND  a.ADMIN_ID LIKE '%'|| #{params.searchKeyword}|| '%' 
									     ]]> 
									</when>	
									<when test="params.searchCondition == 'b.EMP_NM'">
									    <![CDATA[
									      AND  b.EMP_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
									     ]]> 
									</when>	
									<otherwise>
										AND (a.ADMIN_ID LIKE '%'|| #{params.searchKeyword}|| '%'
										    OR b.EMP_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
										    )
									</otherwise>
								</choose>
						  </if>	
						  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchAuthorCd)">	        
						         AND a.AUTHOR_CD = #{params.searchAuthorCd}
						  </if>	
						  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchDeptCd)">	        
						         AND b.DEPT_CD = #{params.searchDeptCd}
						  </if>	
						  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenter)">	        
						         AND A.CENTER_CD = #{params.searchCenter}
						  </if>	

	            ) TB 
	        ) TA 
	        WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}      
	        ORDER BY TA.LAST_UPDT_DTM  DESC
   </select>
      
   <select id="selectAdminUserManageDetail" resultType="lmap">
	     SELECT a.ADMIN_ID, a.EMP_NO, a.AUTHOR_CD, a.ADMIN_LOCKYN, a.USE_YN, a.ADMIN_PASS_UPDT_DT,
                a.FRST_REGIST_DTM, a.FRST_REGTER_ID, a.LAST_UPDT_DTM, a.LAST_UPDUSR_ID,
                FN_ORGNM(b.DEPT_CD, 'DEPT') DEPT_NM, b.EMP_NM, b.EMP_CLPHN, b.EMP_EMAIL, A.CENTER_CD
	     FROM TSEH_ADMIN_INFO_M a, TSEH_EMP_INFO_M b
	     WHERE a.EMP_NO = b.EMP_NO
	           AND ADMIN_ID = #{adminId}
   </select>
   
   <insert id="insertAdminUserManage">
   {CALL
			DECLARE
			BEGIN     
          <selectKey resultType="int"  keyProperty="cnt" order="BEFORE">
                SELECT NVL(COUNT(EMP_NO),0)  as cnt
                FROM TSEH_ADMIN_INFO_M 
                WHERE ADMIN_ID = #{adminId}
          </selectKey>
          <choose>
                <when test="cnt > 0">
                       UPDATE TSEH_ADMIN_INFO_M SET USE_YN = #{useYn}
	                               ,  LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR }
	                               ,  LAST_UPDT_DTM = SYSDATE
	                               ,  AUTHOR_CD = #{authorCd , jdbcType=VARCHAR }
	                               ,  CENTER_CD = #{centerCd , jdbcType=VARCHAR }
		                           , ADMIN_LOCKYN ='N'
		                           <if test="empNo != ''">
		                            ,  EMP_NO = #{empNo, jdbcType=VARCHAR }
		                           </if>
	                   WHERE ADMIN_ID = #{adminId};
                </when>
                <otherwise>
				       INSERT INTO TSEH_ADMIN_INFO_M(ADMIN_ID, EMP_NO, AUTHOR_CD, ADMIN_LOCKYN, USE_YN, ADMIN_PASS_UPDT_DT,
				                                     CENTER_CD, FRST_REGIST_DTM, FRST_REGTER_ID, LAST_UPDT_DTM, LAST_UPDUSR_ID)
				       VALUES (	#{adminId} , #{empNo}, #{authorCd}, 'N', 'Y', SYSDATE,
				                #{centerCd ,jdbcType=VARCHAR}, SYSDATE, #{frstRegterId ,jdbcType=VARCHAR}, SYSDATE, #{lastUpdusrId ,jdbcType=VARCHAR} );
				       
				       UPDATE TSEH_EMP_INFO_M SET ADMIN_DVSN = 'Y' WHERE EMP_NO = #{empNo};
                </otherwise>
         </choose>
 		
            END
          }
   </insert>
   <update id="updateAdminUserManage">
	   UPDATE TSEH_ADMIN_INFO_M SET USE_YN = #{useYn}
	                               ,  LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR }
	                               ,  LAST_UPDT_DTM = SYSDATE
	                               ,  AUTHOR_CD = #{authorCd , jdbcType=VARCHAR }
	                               ,  CENTER_CD = #{centerCd , jdbcType=VARCHAR }
		                           , ADMIN_LOCKYN ='N'
		                           <if test="empNo != ''">
		                            ,  EMP_NO = #{empNo, jdbcType=VARCHAR }
		                           </if>
	   WHERE ADMIN_ID = #{adminId}
   </update>
   <update id="updateAdminUserLockManage">
       UPDATE TSEH_ADMIN_INFO_M SET ADMIN_LOCKYN = 'Y'
       WHERE ADMIN_ID = #{adminId}
   </update>
   <delete id="deleteAdminUserManage">
	   DELETE FROM TSEH_ADMIN_INFO_M
       WHERE ADMIN_ID = #{adminId}   ;
	   UPDATE TSEH_EMP_INFO_M SET ADMIN_DVSN = 'N' 
	   WHERE EMP_NO = (SELECT EMP_NO FROM TSEH_ADMIN_INFO_M WHERE ADMIN_ID = #{adminId}) 
   </delete>
</mapper>