<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%l] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="egovframework" />
    	<Logger name="com.kses" />
    	
    	<Logger name="jdbc.audit" level="off" />
    	<Logger name="jdbc.connection" level="off" />
    	<Logger name="jdbc.sqltiming" level="off" />
    	<logger name="jdbc.resultset" level="warn" />
    	<logger name="jdbc.resultsettable" />
    	<Logger name="jdbc.sqlonly" />
        
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>