<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.cus.usr.mapper.UserInfoManageMapper">

    <select id="selectUserInfoListPage" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT USER_ID, USER_NM, USER_PHONE, USER_SEX_MF, USER_BIRTH_DY, 
				       TO_CHAR( LAST_UPDT_DTM , 'yyyy-MM-dd') LAST_UPDT_DTM, LAST_UPDUSR_ID
				FROM TSER_USER_INFO_I A
				WHERE 1=1
				AND USER_DVSN = 'USER_DVSN_1'
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					 <choose>
					    <when test="params.searchCondition == 'user_id'">
						    <![CDATA[
						      AND  a.USER_ID LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<when test="params.searchCondition == 'user_nm'">
						    <![CDATA[
						      AND  a.USER_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<when test="params.searchCondition == 'user_phone'">
						    <![CDATA[
						      AND  a.USER_PHONE LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<otherwise>
						      AND (a.USER_ID LIKE '%'|| #{params.searchKeyword}|| '%'
						           OR a.USER_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
						           OR a.USER_PHONE LIKE '%'|| #{params.searchKeyword}|| '%' 
						           )
						</otherwise>
					 </choose>
				</if>
				ORDER BY A.LAST_UPDT_DTM DESC
			) TB 
		) TA
		WHERE ROWNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	
   	<select id="selectUserInfoDetail" resultType="lmap">
		SELECT 
			USER_ID, USER_NM, USER_PHONE, USER_SEX_MF, USER_BIRTH_DY, LAST_UPDUSR_ID, LAST_UPDT_DTM,
			USER_RCPT_YN, USER_RCPT_DVSN, USER_RCPT_NUMBER
		FROM TSER_USER_INFO_I 
		WHERE USER_ID = #{userId}
   	</select>
   	
	<select id="selectUserVacntnInfo" resultType="lmap">
	<![CDATA[
   		SELECT 
   			FN_DETAILCODENM(A.VACNTN_ROUND) AS VACNTN_ROUND_TEXT, 
   			FN_DETAILCODENM(A.VACNTN_DVSN) AS VACNTN_DVSN_TEXT, 
   			TO_CHAR(TO_DATE(A.VACNTN_DT,'YYYY-MM-DD'),'YYYY-MM-DD') AS VACNTN_DT,  
			CASE 
				WHEN A.VACNTN_DT IS NULL THEN 'NO_INFO'  
				WHEN A.VACNTN_DT > TO_CHAR(ADD_MONTHS(SYSDATE,-6),'YYYYMMDD') THEN 'Y'
			ELSE 'N' END AS PASS_YN
		FROM TSER_USER_INFO_I A
		WHERE USER_ID = #{userId, jdbcType=VARCHAR}
	]]>	
   	</select>
	
	<insert id="insertUserInfo">
	    MERGE INTO TSER_USER_INFO_I A
	    USING DUAL B
	    ON 
		(	
			A.USER_ID = #{userId}
		)
		WHEN MATCHED THEN
		UPDATE SET 
			USER_NM = #{userNm, jdbcType=VARCHAR}, 
			USER_PHONE = #{userPhone, jdbcType=VARCHAR},
			USER_DVSN = #{userDvsn, jdbcType=VARCHAR}, 
			USER_SEX_MF = #{userSexMf, jdbcType=VARCHAR}, 
			USER_BIRTH_DY = #{userBirthDy, jdbcType=VARCHAR},
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(indvdlinfoAgreYn)">
				INDVDLINFO_AGRE_YN = #{indvdlinfoAgreYn, jdbcType=VARCHAR},
				INDVDLINFO_AGRE_DT = SYSDATE,
			</if>
			USER_CARD_ID = #{userCardId, jdbcType=VARCHAR}, 
            USER_CARD_NO = #{userCardNo, jdbcType=VARCHAR},
            USER_CARD_SEQ = #{userCardSeq, jdbcType=VARCHAR},
            LAST_UPDUSR_ID = #{userId},  
			LAST_UPDT_DTM = SYSDATE,  
			LAST_LOGIN_DT = SYSDATE 
		WHEN NOT MATCHED THEN
		INSERT	
		(
			USER_ID, USER_NM, USER_PHONE, USER_DVSN, USER_CARD_ID,  
			USER_CARD_NO, USER_CARD_SEQ, USER_SEX_MF, USER_BIRTH_DY, LAST_UPDUSR_ID, 
			LAST_UPDT_DTM 
		)
		VALUES 
		(
			#{userId}, #{userNm}, #{userPhone, jdbcType=VARCHAR}, #{userDvsn, jdbcType=VARCHAR}, #{userCardId, jdbcType=VARCHAR}, 
			#{userCardNo, jdbcType=VARCHAR}, #{userCardSeq, jdbcType=VARCHAR}, #{userSexMf, jdbcType=VARCHAR}, #{userBirthDy, jdbcType=VARCHAR}, #{userId, jdbcType=VARCHAR}, 
			SYSDATE
		)		
		
		<selectKey resultType="com.kses.front.login.vo.UserLoginInfo" keyProperty="indvdlinfoAgreDt,userRcptYn,userRcptDvsn,userRcptNumber" order="AFTER">
        	SELECT
        		INDVDLINFO_AGRE_DT AS indvdlinfoAgreDt,
        		USER_RCPT_YN AS userRcptYn,
        		USER_RCPT_DVSN AS userRcptDvsn,
        		USER_RCPT_NUMBER AS userRcptNumber 
        	FROM TSER_USER_INFO_I WHERE USER_ID = #{userId, jdbcType=VARCHAR}   
    	</selectKey>    
	</insert>

	<update id="updateUserInfo">
		UPDATE TSER_USER_INFO_I SET 
			USER_NM = #{userNm, jdbcType=VARCHAR}, 
			USER_PHONE = #{userPhone, jdbcType=VARCHAR}, 
			USER_SEX_MF = #{userSexMf, jdbcType=VARCHAR}, 
			USER_BIRTH_DY = #{userBirthDy, jdbcType=VARCHAR}, 
			LAST_UPDUSR_ID = #{userId}, 
			LAST_UPDT_DTM = SYSDATE                     
		WHERE USER_ID = #{userId}
   	</update>
   	
	<update id="updateUserRcptInfo">
		UPDATE TSER_USER_INFO_I SET 
			USER_RCPT_YN = #{userRcptYn, jdbcType=VARCHAR}, 
			USER_RCPT_DVSN = #{userRcptDvsn, jdbcType=VARCHAR}, 
			USER_RCPT_NUMBER = #{userRcptNumber, jdbcType=VARCHAR},
			LAST_UPDUSR_ID = #{userId}, 
			LAST_UPDT_DTM = SYSDATE                      
		WHERE USER_ID = #{userId}
   	</update>

   	<delete id="deleteUserInfo">
   	    <foreach collection="delCds" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
   	         DELETE FROM TSER_USER_INFO_I WHERE USER_ID= #{item}
	    </foreach>		
   	</delete>
</mapper>