<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.cus.usr.mapper.UserInfoManageMapper">

    <select id="selectUserInfoListPage" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT USER_ID, USER_NM, USER_PHONE, USER_SEX_MF, USER_BIRTH_DY, 
				       TO_CHAR( LAST_UPDT_DTM , 'yyyy-MM-dd') LAST_UPDT_DTM, LAST_UPDUSR_ID
				FROM TEST_USER_INFO A
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					 <choose>
					    <when test="params.searchCondition == 'user_id'">
						    <![CDATA[
						      AND  a.USER_ID LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<when test="params.searchCondition == 'user_nm'">
						    <![CDATA[
						      AND  a.USER_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<when test="params.searchCondition == 'user_phone'">
						    <![CDATA[
						      AND  a.USER_PHONE LIKE '%'|| #{params.searchKeyword}|| '%' 
						     ]]> 
						</when>	
						<otherwise>
						      AND (a.USER_ID LIKE '%'|| #{params.searchKeyword}|| '%'
						           OR a.USER_NM LIKE '%'|| #{params.searchKeyword}|| '%' 
						           OR a.USER_PHONE LIKE '%'|| #{params.searchKeyword}|| '%' 
						           )
						</otherwise>
					 </choose>
				</if>
				ORDER BY A.LAST_UPDT_DTM DESC
			) TB 
		) TA
		WHERE ROWNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	
   	<select id="selectUserInfoDetail" resultType="lmap">
		SELECT 
			USER_ID, USER_NM, USER_PHONE, USER_SEX_MF, USER_BIRTH_DY, LAST_UPDUSR_ID, LAST_UPDT_DTM,
			USER_RCPT_YN, USER_RCPT_DVSN, USER_RCPT_NUMBER
		FROM TEST_USER_INFO 
		WHERE USER_ID = #{userId}
   	</select>
	
	<insert id="insertUserInfo">
	    MERGE INTO TEST_USER_INFO A
	    USING DUAL B
	    ON 
		(	
			A.USER_ID = #{userId}
		)
		WHEN MATCHED THEN
		UPDATE SET 
			USER_NM = #{userNm, jdbcType=VARCHAR}, 
			USER_PHONE = #{userPhone, jdbcType=VARCHAR}, 
			USER_SEX_MF = #{userSexMf, jdbcType=VARCHAR}, 
			USER_BIRTH_DY = #{userBirthDy, jdbcType=VARCHAR}, 
			LAST_UPDUSR_ID = #{userId}, 
			LAST_UPDT_DTM = SYSDATE  
		WHEN NOT MATCHED THEN
		INSERT	
		(
			USER_ID, USER_NM, USER_PHONE, USER_SEX_MF, USER_BIRTH_DY, LAST_UPDUSR_ID, LAST_UPDT_DTM
		)
		VALUES 
		(
			#{userId}, #{userNm}, #{userPhone,jdbcType=VARCHAR}, #{userSexMf,jdbcType=VARCHAR}, #{userBirthDy,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, SYSDATE
		)		
	</insert>

	<update id="updateUserInfo">
		UPDATE TEST_USER_INFO SET 
			USER_NM = #{userNm, jdbcType=VARCHAR}, 
			USER_PHONE = #{userPhone, jdbcType=VARCHAR}, 
			USER_SEX_MF = #{userSexMf, jdbcType=VARCHAR}, 
			USER_BIRTH_DY = #{userBirthDy, jdbcType=VARCHAR}, 
			LAST_UPDUSR_ID = #{userId}, 
			LAST_UPDT_DTM = sysdate                     
		WHERE USER_ID = #{userId}
   	</update>
   	
	<update id="updateUserRcptInfo">
		UPDATE TEST_USER_INFO SET 
			USER_RCPT_YN = #{userRcptYn, jdbcType=VARCHAR}, 
			USER_RCPT_DVSN = #{userRcptDvsn, jdbcType=VARCHAR}, 
			USER_RCPT_NUMBER = #{userRcptNumber, jdbcType=VARCHAR},
			LAST_UPDUSR_ID = #{userId}, 
			LAST_UPDT_DTM = SYSDATE                      
		WHERE USER_ID = #{userId}
   	</update>
   	
   	<delete id="deleteUserInfo">
   	    <foreach collection="delCds" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
   	         DELETE FROM TEST_USER_INFO  WHERE USER_ID= #{item}
	    </foreach>		
   	</delete>

</mapper>