<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.center.mapper.CenterHolyInfoManageMapper">
	<select id="selectCenterHolyInfoList" resultType="lmap">
		SELECT TB.*
		FROM (
				 SELECT SUM(1) OVER (PARTITION BY NULL)            AS TOTAL_RECORD_COUNT,
						ROW_NUMBER() OVER (ORDER BY A.HOLY_DT ASC) AS RNUM,
						A.CENTER_HOLY_SEQ,
						A.CENTER_CD,
						A.HOLY_DT,
						A.HOLY_NM,
						A.USE_YN,
						TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd')     AS LAST_UPDT_DTM,
						A.LAST_UPDUSR_ID,
						B.CENTER_NM
				 FROM TSEB_CENTERHOLY_INFO_I A,
					  TSEB_CENTER_INFO_M B
				 WHERE A.CENTER_CD = B.CENTER_CD
		    		AND A.CENTER_CD = #{params.centerCd}
			 ) TB
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}
		ORDER BY RNUM ASC
	</select>
	
	<insert id="insertCenterHolyInfo">
		INSERT INTO TSEB_CENTERHOLY_INFO_I 
		(
			CENTER_HOLY_SEQ, CENTER_CD, HOLY_DT, HOLY_NM, USE_YN, 
			FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, LAST_UPDT_DTM
		)
		VALUES 	
		(
			SEQ_ESB_CENTERHOLY_INFO.NEXTVAL, #{centerCd}, #{holyDt, jdbcType=VARCHAR}, #{holyNm, jdbcType=VARCHAR}, #{useYn, jdbcType=VARCHAR}, 
			#{frstRegterId, jdbcType=VARCHAR}, SYSDATE, #{lastUpdusrId, jdbcType=VARCHAR}, SYSDATE
		)
	</insert>
     
	<update id="updateCenterHolyInfo">	
		UPDATE TSEB_CENTERHOLY_INFO_I SET 
			HOLY_DT = #{holyDt, jdbcType=VARCHAR},
			HOLY_NM = #{holyNm, jdbcType=VARCHAR},
			USE_YN = #{useYn, jdbcType=VARCHAR},
			LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR},
			LAST_UPDT_DTM = SYSDATE				
		WHERE CENTER_HOLY_SEQ = #{centerHolySeq}
	</update>

	<update id="updateCenterHolyInfoList">
		<foreach collection="centerHolyInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE TSEB_CENTERHOLY_INFO_I SET
				HOLY_NM = #{item.holyNm, jdbcType=VARCHAR},
				USE_YN = #{item.useYn, jdbcType=VARCHAR},
				LAST_UPDUSR_ID = #{item.lastUpdusrId, jdbcType=VARCHAR},
				LAST_UPDT_DTM = SYSDATE
			WHERE CENTER_HOLY_SEQ = #{item.centerHolySeq}
		</foreach>
	</update>
	
	<update id="copyCenterHolyInfo">
		UPDATE TSEB_CENTERHOLY_INFO_I A
		SET (A.HOLY_DT, A.HOLY_NM, A.USE_YN, A.LAST_UPDUSR_ID, A.LAST_UPDT_DTM) = 
	   	(
	   		SELECT B.HOLY_DT, B.HOLY_NM, B.USE_YN, B.LAST_UPDUSR_ID, SYSDATE
			FROM TSEB_NOSHOW_INFO_M B 
			WHERE A.NOSHOW_DAY = B.NOSHOW_DAY 
			AND B.CENTER_CD = #{params.copyCenterCd}
		)
		WHERE A.CENTER_CD = #{params.targetCenterCd}
	</update>
	
	<select id="centerUpdateSelect" resultType="lmap">
		SELECT CENTER_HOLY_SEQ, CENTER_CD, HOLY_DT, HOLY_NM, USE_YN, LAST_UPDUSR_ID
		FROM TSEB_CENTERHOLY_INFO_I
		WHERE CENTER_HOLY_SEQ = #{centerHolySeq}
	</select>
	
	<delete id="deleteCenterHolyInfo">
		DELETE FROM TSEB_CENTERHOLY_INFO_I WHERE CENTER_HOLY_SEQ = #{centerHolySeq}
	</delete>
</mapper>