<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.center.mapper.NoshowInfoManageMapper">
	<select id="selectNoshowInfoList" resultType="lmap">
		SELECT 
			A.NOSHOW_CD, A.NOSHOW_DAY,
			CASE A.NOSHOW_DAY
				WHEN '2' THEN '월요일'
				WHEN '3' THEN '화요일'
				WHEN '4' THEN '수요일'
				WHEN '5' THEN '목요일'
				WHEN '6' THEN '금요일'
				WHEN '7' THEN '토요일'
				WHEN '1' THEN '일요일'
			END NOSHOW_DAY_TEXT, 
			<!-- 오전 노쇼,오후 노쇼 기능 제거
			TO_CHAR(TO_DATE(NOSHOW_AM_TM,'HH24MI'),'HH24:MI') AS NOSHOW_AM_TM, 
			-->
			TO_CHAR(TO_DATE(NOSHOW_PM_TM,'HH24MI'),'HH24:MI') AS NOSHOW_PM_TM,
			TO_CHAR(TO_DATE(NOSHOW_ALL_TM,'HH24MI'),'HH24:MI') AS NOSHOW_ALL_TM, 
			TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM,
			A.LAST_UPDUSR_ID,  
			B.CENTER_NM
		FROM TSEB_NOSHOW_INFO_M A, TSEB_CENTER_INFO_M B
		WHERE A.CENTER_CD = #{centerCd}
		AND A.CENTER_CD = B.CENTER_CD  
	</select>
	
	<select id="selectNoshowResvInfo_R1" resultType="lmap">
	<![CDATA[
		SELECT 
			A.RESV_SEQ, B.CENTER_PILOT_YN, A.USER_ID, C.NOSHOW_CD, A.RESV_PAY_DVSN,
			A.RESV_TICKET_DVSN, A.RESV_USER_DVSN
		FROM TSER_RESV_INFO_I A, TSEB_CENTER_INFO_M B, TSEB_NOSHOW_INFO_M C
		WHERE A.CENTER_CD = B.CENTER_CD
		AND B.CENTER_CD = C.CENTER_CD 
		AND A.RESV_STATE = 'RESV_STATE_1'
		AND A.RESV_PAY_DVSN = 'RESV_PAY_DVSN_1'
		AND A.RESV_END_DT = TO_CHAR(SYSDATE,'YYYYMMDD')
		AND C.NOSHOW_DAY = TO_CHAR(SYSDATE,'d') 
		AND C.NOSHOW_PM_TM = TO_CHAR(SYSDATE,'HH24MI')
	]]>
	</select>
	
	<select id="selectNoshowResvInfo_R2" resultType="lmap">
	<![CDATA[
		SELECT 
			A.RESV_SEQ, B.CENTER_PILOT_YN, A.USER_ID, C.NOSHOW_CD, A.RESV_PAY_DVSN, 
			A.RESV_TICKET_DVSN, A.RESV_USER_DVSN
		FROM TSER_RESV_INFO_I A, TSEB_CENTER_INFO_M B, TSEB_NOSHOW_INFO_M C
		WHERE A.CENTER_CD = B.CENTER_CD
		AND B.CENTER_CD = C.CENTER_CD 
		AND A.RESV_STATE = 'RESV_STATE_1'
		AND A.RESV_PAY_DVSN = 'RESV_PAY_DVSN_2'
		AND A.RESV_END_DT = TO_CHAR(SYSDATE,'YYYYMMDD')
		AND C.NOSHOW_DAY = TO_CHAR(SYSDATE,'d')
		AND C.NOSHOW_ALL_TM = TO_CHAR(SYSDATE,'HH24MI')
	]]>
	</select>
	
	<insert id="insertNoshowResvInfo">
		INSERT INTO TSEB_NOSHOW_PLAY_H 
		(
			NOSHOW_SEQ, NOSHOW_CD, RESV_SEQ, NOSHOW_PLAYTM, NOSHOW_RELEASE_YN, 
			NOSHOW_RESULT, NOSHOW_RESULT_CD
		) 
		VALUES
		(
			SEQ_SEB_NOSHOW_PLAY.NEXTVAL, #{noshowCd}, #{resvSeq}, SYSDATE, 'N', 
			'OK', ''
		)
	</insert>

	<update id="updateNoshowResvInfoTranCancel">
		UPDATE TSER_RESV_INFO_I SET
    		RESV_STATE = 'RESV_STATE_4',
    		RESV_PAY_DVSN = 'RESV_PAY_DVSN_1',
    		RESV_CANCEL_ID = 'BATCH',
    		RESV_CANCEL_CD = 'RESV_CANCEL_CD_3',
    		RESV_CANCEL_DT = SYSDATE
    	WHERE RESV_SEQ = #{resvSeq}
	</update>  
     
	<update id="updateNoshowInfo">
		<foreach collection="noshowInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">	
			UPDATE TSEB_NOSHOW_INFO_M SET 
				<!-- 오전 노쇼,오후 노쇼 기능 제거
				NOSHOW_AM_TM = #{item.noshowAmTm, jdbcType=VARCHAR}, 
				-->
				NOSHOW_PM_TM = #{item.noshowPmTm, jdbcType=VARCHAR},
				NOSHOW_ALL_TM = #{item.noshowAllTm, jdbcType=VARCHAR},
				LAST_UPDT_DTM = SYSDATE
			WHERE NOSHOW_CD = #{item.noshowCd}
		</foreach>
	</update>
	
	<update id="copyNoshowInfo">
		UPDATE TSEB_NOSHOW_INFO_M A
		SET 
			(	
				<!-- 오전 노쇼,오후 노쇼 기능 제거
				A.NOSHOW_AM_TM, 
				--> 
				A.NOSHOW_PM_TM, 
				A.NOSHOW_ALL_TM, A.LAST_UPDT_DTM, A.LAST_UPDUSR_ID
			) = 
	   	(
	   		SELECT 
	   			<!-- 오전 노쇼,오후 노쇼 기능 제거 
	   			B.NOSHOW_AM_TM,
	   			 --> 
	   			B.NOSHOW_PM_TM,
	   			B.NOSHOW_ALL_TM, SYSDATE, B.LAST_UPDUSR_ID
			FROM TSEB_NOSHOW_INFO_M B 
			WHERE A.NOSHOW_DAY = B.NOSHOW_DAY 
			AND B.CENTER_CD = #{params.copyCenterCd}
		)
		WHERE A.CENTER_CD = #{params.targetCenterCd}
	</update>
</mapper>