<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.center.mapper.PreOpenInfoManageMapper">
	<select id="selectPreOpenInfoList" resultType="lmap">
		SELECT 
			A.OPTM_CD, A.OPEN_DAY,
			CASE A.OPEN_DAY
				WHEN '2' THEN '월요일'
				WHEN '3' THEN '화요일'
				WHEN '4' THEN '수요일'
				WHEN '5' THEN '목요일'
				WHEN '6' THEN '금요일'
				WHEN '7' THEN '토요일'
				WHEN '1' THEN '일요일'
			END OPEN_DAY_TEXT, 
			TO_CHAR(TO_DATE(OPEN_MEMBER_TM,'HH24MI'),'HH24:MI') AS OPEN_MEMBER_TM, 
			TO_CHAR(TO_DATE(OPEN_GUEST_TM,'HH24MI'),'HH24:MI') AS OPEN_GUEST_TM, 
			TO_CHAR(TO_DATE(CLOSE_MEMBER_TM,'HH24MI'),'HH24:MI') AS CLOSE_MEMBER_TM, 
			TO_CHAR(TO_DATE(CLOSE_GUEST_TM,'HH24MI'),'HH24:MI') AS CLOSE_GUEST_TM, 
			TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM, 
			B.CENTER_NM
		FROM TSEB_RESV_ADMSTM_D A, TSEB_CENTER_INFO_M B
		WHERE A.CENTER_CD = #{centerCd}
		AND A.CENTER_CD = B.CENTER_CD  
	</select>
     
	<update id="updatePreOpenInfo">
		<foreach collection="preOpenInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">	
			UPDATE TSEB_RESV_ADMSTM_D SET 
				OPEN_MEMBER_TM = #{item.openMemberTm, jdbcType=VARCHAR}, 
				OPEN_GUEST_TM = #{item.openGuestTm, jdbcType=VARCHAR},
				CLOSE_MEMBER_TM = #{item.closeMemberTm, jdbcType=VARCHAR},
				CLOSE_GUEST_TM = #{item.closeGuestTm, jdbcType=VARCHAR},
				LAST_UPDT_DTM = SYSDATE
			WHERE OPTM_CD = #{item.optmCd}
		</foreach>
	</update>
	
	<update id="copyPreOpenInfo">
		UPDATE TSEB_RESV_ADMSTM_D A
		SET (A.OPEN_MEMBER_TM, A.OPEN_GUEST_TM, A.CLOSE_MEMBER_TM, A.CLOSE_GUEST_TM, A.LAST_UPDT_DTM, A.LAST_UPDUSR_ID)  = 
	   	(
	   		SELECT B.OPEN_MEMBER_TM, B.OPEN_GUEST_TM, B.CLOSE_MEMBER_TM, B.CLOSE_GUEST_TM, SYSDATE, B.LAST_UPDUSR_ID
			FROM TSEB_RESV_ADMSTM_D B 
			WHERE A.OPEN_DAY = B.OPEN_DAY 
			AND B.CENTER_CD = #{params.copyCenterCd}
		)
		WHERE A.CENTER_CD = #{params.targetCenterCd}
	</update>
</mapper>