<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.sys.board.mapper.BoardInfoManageMapper">
	<select id="selectBoardManageListByPagination" resultType="lmap">
		SELECT * 
		FROM		
		(	
			SELECT	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY BOARD_GROUP DESC) AS RNUM, 
				TB.* 
			FROM  
			(	
				SELECT 
					LPAD(' ', 2*(LEVEL-1)) || BOARD_TITLE AS BOARD_TITLE, BOARD_SEQ, BOARD_CD, BOARD_REFNO, BOARD_CLEVEL, 
					BOARD_NOTICE_START_DAY, BOARD_NOTICE_END_DAY, BOARD_POPUP, BOARD_TOP_SEQ, BOARD_VISIT_CNT, 
					USE_YN, LAST_UPDUSR_ID, BOARD_GROUP, TO_CHAR(LAST_UPDT_DTM, 'yyyy-MM-dd') LAST_UPDT_DTM, BOARD_ALL_NOTICE
				FROM  TSES_BOARD_INFO_I a
				WHERE a.BOARD_CD = #{params.boardCd}
				<if test="params.boardCd == 'Not'">
					<choose>
						<when test="params.adminYn == 'user'">
							AND TO_CHAR(SYSDATE, 'yyyyMMdd') BETWEEN NVL(a.BOARD_NOTICE_START_DAY, '20211201') AND  NVL(a.BOARD_NOTICE_END_DAY , '20991231')
						</when>
						<otherwise>
						
						</otherwise>
					</choose>
				</if>   
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				<![CDATA[
					AND 
					(	
						BOARD_TITLE LIKE '%'||#{params.searchKeyword } ||'%'  
						OR 
						BOARD_CD LIKE '%'||#{params.searchKeyword } ||'%' 
					)
				]]> 
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.authorCd)">
					<if test="params.authorCd != 'ROLE_ADMIN' and params.authorCd != 'ROLE_SYSTEM'">
						AND #{params.centerCd} IN (SELECT COLUMN_VALUE FROM TABLE(UF_SPLICT(a.BOARD_CENTER_ID, ',')) )  
					</if>		
				</if>
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenterCd)">
					AND #{params.searchCenterCd} IN (SELECT COLUMN_VALUE FROM TABLE(UF_SPLICT(a.BOARD_CENTER_ID, ',')) )  
				</if>
				<!-- 				
				<if test="!@org.apache.commons.lang3.StringUtils@equals(params.searchCondition,'ALL')">
					AND BOARD_ALL_NOTICE = 'Y'
				</if>
				 -->
				START WITH BOARD_REFNO = 0
				CONNECT BY PRIOR BOARD_SEQ = BOARD_REFNO
				ORDER SIBLINGS BY BOARD_GROUP DESC
			) TB 
		)TA 
		WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
	</select> 
     
	<select id="selectBoardMainManageListByPagination" resultType="lmap">
		SELECT * FROM 
		( 
			SELECT  
				ROW_NUMBER() OVER (ORDER BY BOARD_SEQ DESC) AS RNUM, 
				TB.* 
			FROM 
			(
				SELECT 
					A.BOARD_SEQ, A.BOARD_TITLE, SUBSTRING(DATE_FORMAT(A.BOARD_REGDATE, '%Y-%m-%d'), 0, 10) boardRegdate, A.BOARD_ALL_NOTICE, A.BOARD_NOTICE_STARTDAY, 
					A.BOARD_NOTICE_ENDDAY
				FROM TSES_BOARD_INFO_I A
				WHERE A.BOARD_SEQ NOT IN (SELECT BOARD_SEQ FROM TSES_BOARD_INFO_I D WHERE D.BOARD_GUBUN = 'NOT')
				<![CDATA[
				AND D.BOARD_NOTICE_STARTDAY > TO_CHAR(SYSDATE, 'YYYYMMDD' ) OR D.BOARD_NOTICE_ENDDAY < TO_CHAR(SYSDATE, 'YYYYMMDD') )
				]]>         		 
				AND	A.BOARD_NOTICE_USEYN != 'N'
			) TB
		) 
		WHERE RNUM BETWEEN 1 AND 5
	</select> 
	
	<resultMap id="getBoardListResult" type="HashMap"> 
		<result property="board_seq" column="BOARD_SEQ" /> 
        <result property="board_cd" column="BOARD_CD" />
        <result property="board_refno" column="BOARD_REFNO" />
        <result property="board_clevel" column="BOARD_CLEVEL" />
        <result property="board_notice_start_day" column="BOARD_NOTICE_START_DAY" />
        <result property="board_notice_end_day" column="BOARD_NOTICE_END_DAY" />
        <result property="board_popup" column="BOARD_POPUP" />
        <result property="board_title" column="BOARD_TITLE" /> 
        <result property="board_group" column="BOARD_GROUP" /> 
        <result property="board_top_seq" column="BOARD_TOP_SEQ" /> 
        <result property="board_visit_cnt" column="BOARD_VISIT_CNT" /> 
        <result property="use_yn" column="USE_YN" /> 
        <result property="frst_regter_id" column="FRST_REGTER_ID" /> 
        <result property="frst_regist_dtm" column="FRST_REGIST_DTM" /> 
        <result property="last_updusr_id" column="LAST_UPDUSR_ID" /> 
        <result property="last_updt_dtm" column="LAST_UPDT_DTM" />
        <result property="board_center_id" column="BOARD_CENTER_ID" /> 
        <result property="board_all_notice" column="BOARD_ALL_NOTICE" /> 
        <result property="board_cn" column="BOARD_CN" jdbcType="CLOB" javaType="java.lang.String" /> 
     </resultMap>

	<select id="selectBoardManageDetail"  resultMap="getBoardListResult">
	<![CDATA[
		SELECT 
			BOARD_SEQ, BOARD_CD, BOARD_REFNO, BOARD_CLEVEL, BOARD_NOTICE_START_DAY, 
			BOARD_NOTICE_END_DAY, BOARD_POPUP, BOARD_TITLE, BOARD_TOP_SEQ, BOARD_VISIT_CNT, 
			USE_YN, BOARD_CN, BOARD_GROUP, FRST_REGTER_ID, FRST_REGIST_DTM, 
			LAST_UPDUSR_ID, LAST_UPDT_DTM , BOARD_CENTER_ID, BOARD_ALL_NOTICE
		FROM TSES_BOARD_INFO_I A        	
		WHERE BOARD_SEQ = #{boardSeq}
	]]>	
	</select>     
	
	<update id="updateBoardTopSeq">
		UPDATE TSES_BOARD_INFO_I SET 
			BOARD_TOP_SEQ = BOARD_TOP_SEQ + 1
		WHERE BOARD_NOTICE_USEYN='Y' 
		AND BOARD_GUBUN='NOT'
	</update>
   
	<insert id="insertBoardManage" >
		<selectKey keyProperty="seq" resultType="Integer" order="BEFORE">
			SELECT BOARDSEQ_SEQ.NEXTVAL AS boardSeq FROM DUAL
		</selectKey>
		
		<choose>
			<when test="mode == 'Ins'">
				INSERT INTO TSES_BOARD_INFO_I 
				(
					BOARD_SEQ, BOARD_CD, BOARD_REFNO, BOARD_CLEVEL, BOARD_GROUP, 
					BOARD_NOTICE_START_DAY, BOARD_NOTICE_END_DAY, BOARD_POPUP, BOARD_TITLE, BOARD_TOP_SEQ, 
					BOARD_VISIT_CNT, USE_YN, BOARD_CN, FRST_REGTER_ID, FRST_REGIST_DTM, 
					LAST_UPDUSR_ID, LAST_UPDT_DTM, BOARD_CENTER_ID, BOARD_ALL_NOTICE               
				)
				VALUES 
				(
					#{seq}, #{boardCd}, #{boardRefno}, #{boardClevel}, #{seq},  
					#{boardNoticeStartDay,jdbcType=VARCHAR}, #{boardNoticeEndDay,jdbcType=VARCHAR}, #{boardPopup, jdbcType=VARCHAR}, #{boardTitle}, #{boardTopSeq,jdbcType=VARCHAR}, 
					0, #{useYn,jdbcType=VARCHAR}, #{boardCn,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, SYSDATE, 
					#{userId,jdbcType=VARCHAR}, SYSDATE, #{boardCenterId ,jdbcType=VARCHAR}, #{boardAllNotice ,jdbcType=VARCHAR}                     
				)
			</when>
			<otherwise>
				INSERT INTO TSES_BOARD_INFO_I 
				(
					BOARD_SEQ, BOARD_CD, BOARD_REFNO, BOARD_CLEVEL, BOARD_GROUP, 
					BOARD_NOTICE_START_DAY, BOARD_NOTICE_END_DAY, BOARD_POPUP, BOARD_TITLE, BOARD_TOP_SEQ, 
					BOARD_VISIT_CNT, USE_YN, BOARD_CN, FRST_REGTER_ID, FRST_REGIST_DTM, 
					LAST_UPDUSR_ID, LAST_UPDT_DTM, BOARD_CENTER_ID , BOARD_ALL_NOTICE                   
				)
				VALUES 
				(
					#{seq},  #{boardCd},  #{boardRefno}, #{boardClevel}, #{boardGroup},  
					#{boardNoticeStartDay,jdbcType=VARCHAR}, #{boardNoticeEndDay,jdbcType=VARCHAR}, #{boardPopup, jdbcType=VARCHAR}, #{boardTitle}, #{boardTopSeq,jdbcType=VARCHAR}, 
					0, #{useYn,jdbcType=VARCHAR}, #{boardCn,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, SYSDATE, 
					#{userId,jdbcType=VARCHAR}, SYSDATE, #{boardCenterId ,jdbcType=VARCHAR}, #{boardAllNotice ,jdbcType=VARCHAR}                    
				)
	           
			</otherwise>
		</choose>   
     </insert>
     
     <update id="updateBoardVisitedManage">
          UPDATE TSES_BOARD_INFO_I SET 
          	BOARD_VISIT_CNT = BOARD_VISIT_CNT + 1
          WHERE BOARD_SEQ = #{boardSeq} 
     </update>
     
     <update id="updateBoardManage">
     <![CDATA[
		UPDATE TSES_BOARD_INFO_I SET 
			BOARD_TITLE = #{boardTitle},
			BOARD_CD = #{boardCd, jdbcType=VARCHAR},
			BOARD_REFNO = #{boardRefno,jdbcType=VARCHAR},
			BOARD_CLEVEL = #{boardClevel,jdbcType=VARCHAR},
			BOARD_NOTICE_START_DAY = #{boardNoticeStartDay,jdbcType=VARCHAR},
			BOARD_NOTICE_END_DAY = #{boardNoticeEndDay,jdbcType=VARCHAR},
			BOARD_POPUP = #{boardPopup, jdbcType=VARCHAR},
			USE_YN = #{useYn, jdbcType=VARCHAR},
			BOARD_CN = #{boardCn, jdbcType=VARCHAR},
			LAST_UPDUSR_ID =#{userId,jdbcType=VARCHAR},
			LAST_UPDT_DTM = SYSDATE,
			BOARD_CENTER_ID = #{boardCenterId,jdbcType=VARCHAR},  
			BOARD_ALL_NOTICE = #{boardAllNotice,jdbcType=VARCHAR},  
			BOARD_TOP_SEQ = #{boardTopSeq}
      	WHERE BOARD_SEQ = #{boardSeq}   
	]]>        
	</update>
     
	<delete id="deleteBoardManage">
		DELETE FROM TSES_BOARD_INFO_I WHERE BOARD_SEQ = #{boardSeq}
	</delete>
	
	<select id="selectBoardUploadFileName">
		SELECT STRE_FILE_NM
		FROM COMTNFILEDTAIL
		WHERE FILE_SEQ = #{boardSeq}
	</select>
	
	<select id="selectBoardoriginalFileName">
		SELECT ORIGNL_FILE_NM 
		FROM COMTNFILEDTAIL
		WHERE STRE_FILE_NM = #{boardSeq}
	</select>
</mapper>