<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.sys.board.mapper.BoardSetInfoManageMapper">
    <select id="selectBoardSettingInfoList" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT A.BOARD_CD, A.BOARD_TITLE, FN_DETAILCODENM(A.BOARD_DVSN) BOARD_DVSN, A.BOARD_DVSN AS BOARD_DVSN_CODE, A.BOARD_AUTHOR, B.AUTHOR_NM AS BOARD_AUTHOR_NM,
			           FN_DETAILCODENM(A.BOARD_SIZE) BOARD_SIZE, A.BOARD_SIZE AS BOARD_SIZE_CODE, FN_DETAILCODENM(A.BOARD_NOTICE_DVSN) BOARD_NOTICE_DVSN, A.BOARD_NOTICE_DVSN AS BOARD_NOTICE_DVSN_CODE, A.USE_YN, 
			           FN_SEASON_CENTERNM(A.BOARD_CENTER_ID) BOARD_CENTER_ID, A.BOARD_CENTER_ID AS BOARD_CENTER_ID_CODE,
			           A.BOARD_FILE_UPLOAD_YN, A.BOARD_CMNT_USE, 
                       A.LAST_UPDUSR_ID, TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM
				FROM TSES_BRDSET_INFO_M A, COMTNAUTHORINFO b
				WHERE A.BOARD_AUTHOR = b.AUTHOR_CODE
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.BOARD_TITLE LIKE CONCAT('%',#{params.searchKeyword},'%') 
						OR
						A.BOARD_CD LIKE CONCAT('%',#{params.searchKeyword},'%')
					) 
				</if>
				ORDER BY A.LAST_UPDT_DTM DESC
			) TB 
		) TA
		WHERE ROWNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	<select id="selectBoardSettingInfoDetail" resultType="lmap">
		SELECT BOARD_CD, BOARD_TITLE, BOARD_DVSN, BOARD_AUTHOR, BOARD_CENTER_ID, BOARD_SIZE, BOARD_NOTICE_DVSN, 
               USE_YN, BOARD_FILE_UPLOAD_YN, BOARD_CMNT_USE, 
               FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, LAST_UPDT_DTM
		FROM TSES_BRDSET_INFO_M 
		WHERE BOARD_CD = #{boardCd}
   	</select>
	
	<insert id="insertBoardInfo">
	   {CALL
	        DECLARE
	        BEGIN
	                <selectKey resultType="String"  keyProperty="menuNo" order="BEFORE">
			                SELECT DECODE( NVL(count(MENU_NO), 0), 0, 7001, MAX(MENU_NO) + 1) 
			                FROM COMTNMENUINFO 
			                WHERE UPPER_MENU_NO = '7000'
			        </selectKey>
					INSERT INTO TSES_BRDSET_INFO_M	
					(
						BOARD_CD, BOARD_TITLE, BOARD_DVSN, BOARD_AUTHOR, BOARD_CENTER_ID, 
						BOARD_SIZE, BOARD_NOTICE_DVSN, USE_YN, 
						BOARD_FILE_UPLOAD_YN, BOARD_CMNT_USE, 
			            FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, LAST_UPDT_DTM
					)
					VALUES 
					(
						#{boardCd}, #{boardTitle}, #{boardDvsn,jdbcType=VARCHAR}, #{boardAuthor,jdbcType=VARCHAR},  #{boardCenterId,jdbcType=VARCHAR},
						#{boardSize,jdbcType=VARCHAR}, #{boardNoticeDvsn,jdbcType=VARCHAR},  #{useYn,jdbcType=VARCHAR},	
						#{boardFileUploadYn,jdbcType=VARCHAR},	#{boardCmntUse,jdbcType=VARCHAR},	
					    #{userId}, sysdate, #{userId}, sysdate 
					);
					
					INSERT INTO COMTNPROGRMLIST	
					(
					    PROGRM_FILE_NM, PROGRM_STRE_PATH, PROGRM_KOREANNM, PROGRM_DC, URL
					)
					SELECT #{boardCd}, '/backoffice/sys',  #{boardTitle}, #{boardTitle,jdbcType=VARCHAR}, '/backoffice/sys/boardList.do?boardCd='|| #{boardCd}
					FROM DUAL;
					
					INSERT INTO COMTNMENUINFO ( MENU_NO , MENU_ORDR , MENU_NM , UPPER_MENU_NO, MENU_DC, PROGRM_FILE_NM )
					SELECT #{menuNo}, #{menuNo},  #{boardTitle}, '7000', #{boardTitle}, #{boardCd} FROM DUAL;
					
			 END
		} 
   	</insert>

	<update id="updateBoardInfo">
	    {CALL
	        DECLARE
	        BEGIN
					UPDATE TSES_BRDSET_INFO_M SET BOARD_TITLE = #{boardTitle, jdbcType=VARCHAR}
					                              , BOARD_DVSN = #{boardDvsn, jdbcType=VARCHAR}     
					                              , BOARD_AUTHOR = #{boardAuthor, jdbcType=VARCHAR}     
					                              , BOARD_CENTER_ID = #{boardCenterId, jdbcType=VARCHAR} 
					                              , BOARD_NOTICE_DVSN = #{boardNoticeDvsn, jdbcType=VARCHAR}     
					                              , BOARD_SIZE = #{boardSize, jdbcType=VARCHAR}     
					                              , USE_YN = #{useYn, jdbcType=VARCHAR}     
					                              , BOARD_FILE_UPLOAD_YN = #{boardFileUploadYn, jdbcType=VARCHAR}     
					                              , BOARD_CMNT_USE = #{boardCmntUse, jdbcType=VARCHAR}     
					                              , LAST_UPDUSR_ID = #{userId}   
					                              , LAST_UPDT_DTM = sysdate                     
			       	WHERE BOARD_CD = #{boardCd};
			       	
			       	UPDATE COMTNPROGRMLIST SET PROGRM_KOREANNM = #{boardTitle, jdbcType=VARCHAR},
			       	                           PROGRM_DC = #{boardTitle, jdbcType=VARCHAR}
			       	WHERE  PROGRM_FILE_NM = #{boardCd};
			       	
			       	
			       	UPDATE COMTNMENUINFO SET MENU_NM = #{boardTitle, jdbcType=VARCHAR},
			       	                         MENU_DC = #{boardTitle, jdbcType=VARCHAR}
			       	WHERE PROGRM_FILE_NM = #{boardCd};
			 END
	   }
   	</update>
   	
   	<delete id="deleteBoardSettingInfo">
   	    <foreach collection="delCds" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
   	            DELETE FROM COMTNMENUINFO WHERE PROGRM_FILE_NM = #{item};
   	            DELETE FROM COMTNPROGRMLIST WHERE PROGRM_FILE_NM = #{item};
   	            DELETE FROM TSES_CMNT_INFO_I WHERE BOARD_SEQ IN (SELECT BOARD_SEQ FROM TSES_BOARD_INFO_I WHERE BOARD_CD= #{item});
	            DELETE FROM TSES_BRDSET_INFO_M WHERE BOARD_CD = #{item};
	            DELETE FROM TSES_BOARD_INFO_I  WHERE BOARD_CD= #{item}
	    </foreach>		
   	</delete>



</mapper>