<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.cmm.mapper.FileManageManageMapper">
    <select id="selectFileInfs" resultType="lmap">
	<![CDATA[
		SELECT  
			A.FILE_STRE_COURS, A.STRE_FILE_NM, A.FILE_EXTSN, A.ORIGNL_FILE_NM, 
			A.FILE_SIZE, A.FILE_GUBUN, A.FILE_SEQ
		FROM COMTNFILEDETAIL A
		WHERE FILE_GUBUN = #{params.fileGubun}
		AND FILE_SEQ = #{params.fileSeq}
		ORDER BY A.STRE_FILE_NM	
	]]>
 	</select>
	
	<insert id="insertFileInfs">
		<foreach collection="fileList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">  
			INSERT INTO COMTNFILEDETAIL 
			( 
				FILE_STRE_COURS, STRE_FILE_NM, ORIGNL_FILE_NM, FILE_EXTSN, FILE_SIZE, 
				FILE_GUBUN, FILE_SEQ, ATCH_FILE_ID 
			)
			VALUES
			( 
				#{item.fileStreCours, jdbcType=VARCHAR}, #{item.streFileNm, jdbcType=VARCHAR}, #{item.orignlFileNm, jdbcType=VARCHAR}, #{item.fileExtsn, jdbcType=VARCHAR}, 
				#{item.fileSize, jdbcType=VARCHAR}, #{item.fileGubun, jdbcType=VARCHAR}, #{item.fileSeq, jdbcType=VARCHAR}, #{item.atchFileId} 
			)			
		</foreach>
	</insert>	
	
	<delete id="deleteFileDetail">
		DELETE FROM COMTNFILEDETAIL
		WHERE STRE_FILE_NM IN
		<foreach collection="fileList" item="item"  open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>