<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.seat.mapper.SeatInfoManageMapper">
	<select id="selectSeatInfoList" resultType="lmap">
		SELECT TB.* FROM 
		(
			SELECT  
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				ROW_NUMBER() OVER (ORDER BY A.SEAT_ORDER DESC) AS RNUM, 
				A.CENTER_CD, A.FLOOR_CD, A.PART_CD, A.SEAT_CD, A.SEAT_NM, 
				A.USE_YN, A.SEAT_TOP, A.SEAT_LEFT, A.SEAT_QR_CD, A.SEAT_QR_CD_PATH, 
				A.SEAT_QR_CD_FULL_PATH, A.SEAT_REQ_DAY, FN_DETAILCODENM(A.SEAT_CLASS) AS SEAT_CLASS_TXT, A.SEAT_CLASS_INFO, FN_DETAILCODENM(A.SEAT_DVSN) AS SEAT_DVSN_TXT,
				TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM, A.LAST_UPDUSR_ID, A.PAY_COST, A.SEAT_ORDER, B.CENTER_NM,  
				C.FLOOR_NM, C.FLOOR_INFO, DECODE(A.PART_CD,'0','구역 미사용', D.PART_NM) AS PART_NM
			FROM TSEB_SEAT_INFO_D A, TSEB_CENTER_INFO_M B, TSEB_FLOOR_INFO_M C, TSEB_PART_INFO_D D
			WHERE A.CENTER_CD = B.CENTER_CD  
			AND A.FLOOR_CD = C.FLOOR_CD
			AND A.PART_CD = D.PART_CD(+)
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				AND A.SEAT_NM LIKE '%' || #{params.searchKeyword} ||'%'
			</if>	
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenterCd)">
				AND A.CENTER_CD = #{params.searchCenterCd}
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorCd)">
				AND A.FLOOR_CD = #{params.searchFloorCd}
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchPartCd)">
				AND TRIM(A.PART_CD) = #{params.searchPartCd}
			</if>	
			<if test="params.authorCd != 'ROLE_ADMIN' and params.authorCd != 'ROLE_SYSTEM'">
				   AND B.CENTER_CD = #{params.centerCd}
			</if>	
		) TB  
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}
		ORDER BY TB.SEAT_CD ASC  
		<!-- ORDER BY TO_NUMBER(REPLACE(TB.FLOOR_INFO, 'CENTER_FLOOR_', '')) ASC, TB.SEAT_CD DESC -->		 	    
    </select>
    
    <select id="selectSeatInfoDetail"  resultType="lmap">
		SELECT  
			CENTER_CD, FLOOR_CD, PART_CD, SEAT_CD, SEAT_NM, 
			USE_YN, SEAT_TOP, SEAT_LEFT, SEAT_REQ_DAY, SEAT_CLASS,
			SEAT_CLASS_INFO, SEAT_DVSN, PAY_DVSN, PAY_COST, PAY_AM_COST, 
			PAY_PM_COST, LAST_UPDUSR_ID, LAST_UPDT_DTM 
		FROM TSEB_SEAT_INFO_D A
		WHERE SEAT_CD = #{seatCd}
    </select>
    
    <select id="selectSeatInfoComboList" resultType="lmap">
		SELECT  
			A.SEAT_CD, A.SEAT_NM, 
		FROM TSEB_FLOOR_INFO_M A, COMTCCMMNDETAILCODE B
		WHERE A.USE_YN = 'Y'
		AND B.CODE = A.FLOOR_INFO
		AND A.SEAT_CD = #{seatCd}
		ORDER BY TO_NUMBER(B.CODE_DC) ASC
    </select>
    
<!-- 	<select id="" resultType="lmap">
	<![CDATA[
		SELECT 
			A.PART_CD, A.PART_NM, B.SEAT_CD, B.SEAT_NM, B.SEAT_ORDER, B.SEAT_TOP, B.SEAT_LEFT,
			(
				SELECT NVL(COUNT(*),0) 
         		FROM TSER_RESV_INFO_I 
         		WHERE A.PART_CD = PART_CD
         		AND SEAT_CD = B.SEAT_CD 
         		AND #{params.resvDate} BETWEEN RESV_START_DT AND RESV_END_DT
         		AND RESV_CANCEL_CD IS NULL
			) AS status
		FROM TSEB_PART_INFO_D A, TSEB_SEAT_INFO_D B
		WHERE A.PART_CD = B.PART_CD
		AND B.PART_CD = #{params.partCd}
	]]>    
    </select> -->
    
    <!-- Front -->
	<select id="selectReservationSeatList" resultType="lmap">
	<![CDATA[
		SELECT 
			A.PART_CD, A.PART_NM, B.SEAT_CD, B.SEAT_NM, B.SEAT_ORDER, B.SEAT_TOP, B.SEAT_LEFT,
			(
				SELECT NVL(COUNT(*),0) 
         		FROM TSER_RESV_INFO_I 
         		WHERE A.PART_CD = PART_CD
         		AND SEAT_CD = B.SEAT_CD 
         		AND #{params.resvDate} BETWEEN RESV_START_DT AND RESV_END_DT
         		AND RESV_CANCEL_CD IS NULL
			) AS status
		FROM TSEB_PART_INFO_D A, TSEB_SEAT_INFO_D B
		WHERE A.PART_CD = B.PART_CD
		AND B.PART_CD = #{params.partCd}
	]]>    
    </select>
    
    <insert id="insertSeatInfo" >
	{CALL
		DECLARE
		BEGIN
		
		<selectKey resultType="String" keyProperty="seatCd" order="BEFORE">
        	<choose>
           		<when test='partCd == "0"'>
            		SELECT FN_SEATCODE(#{floorCd},'FLOOR') AS seatCd
				</when>
				<otherwise>
					SELECT FN_SEATCODE(#{partCd},'PART') AS seatCd				
				</otherwise>
			</choose>
		</selectKey>
		INSERT INTO TSEB_SEAT_INFO_D
		(
			CENTER_CD, FLOOR_CD, PART_CD, SEAT_CD, SEAT_NM, 
			USE_YN, SEAT_TOP, SEAT_LEFT, SEAT_CLASS, SEAT_DVSN, 
			PAY_DVSN, PAY_COST, PAY_AM_COST, PAY_PM_COST, SEAT_REQ_DAY, 
			FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, LAST_UPDT_DTM
		)
		VALUES
		(            
			#{centerCd}, #{floorCd}, #{partCd,jdbcType=VARCHAR}, #{seatCd}, #{seatNm}, 
			'Y', #{seatTop, jdbcType=VARCHAR}, #{seatLeft, jdbcType=VARCHAR}, #{seatClass, jdbcType=VARCHAR}, #{seatDvsn, jdbcType=VARCHAR},
			#{payDvsn, jdbcType=VARCHAR}, #{payCost, jdbcType=VARCHAR}, 0, 0, 0,
			#{frstRegterId, jdbcType=VARCHAR}, SYSDATE, #{lastUpdusrId, jdbcType=VARCHAR}, SYSDATE
		);
                 
		UPDATE TSEB_FLOOR_INFO_M SET FLOOR_SEAT_CNT = FLOOR_SEAT_CNT + 1 WHERE FLOOR_CD = #{floorCd};
		
		END
	}
    </insert>
    
    <insert id="insertFloorSeatInfo">
	{CALL
		DECLARE
		BEGIN
		<selectKey resultType="String" keyProperty="floorNm" order="BEFORE">
			SELECT FLOOR_NM FROM TSEB_FLOOR_INFO_M WHERE FLOOR_CD = #{params.floorCd}
		</selectKey>
		
		<choose>
			<when test='params.partCd != "0"'>

			
				INSERT INTO TSEB_SEAT_INFO_D
				(
					SEAT_CD, CENTER_CD, FLOOR_CD, PART_CD, SEAT_NM, 
					USE_YN, SEAT_TOP, SEAT_LEFT, FRST_REGTER_ID, FRST_REGIST_DTM, 
					LAST_UPDUSR_ID, LAST_UPDT_DTM, SEAT_DVSN, SEAT_CLASS, PAY_DVSN, 
					PAY_COST, PAY_AM_COST, PAY_PM_COST, SEAT_ORDER
				)
				SELECT 
					FN_SEATCODEINSERT(TA.PART_CD, 'PART', RNUM), TA.CENTER_CD, TA.FLOOR_CD, TA.PART_CD, TA.RN, 
					'Y', 0, 0, #{params.frstRegterId}, SYSDATE, 
					#{params.lastUpdusrId}, SYSDATE, #{params.seatDvsn, jdbcType=VARCHAR}, #{params.seatClass}, #{params.payDvsn, jdbcType=VARCHAR}, 
					#{params.payCost}, #{params.payAmCost}, #{params.payPmCost}, TA.RNUM 
				FROM 
				(
					<![CDATA[
					SELECT  
						A.CENTER_CD, A.FLOOR_CD, A.PART_CD, #{floorNm, jdbcType=VARCHAR}|| '_' || A.PART_NM || '_' || B.RN AS RN,  
						ROW_NUMBER() OVER(ORDER BY B.RN ASC) AS RNUM
					FROM TSEB_PART_INFO_D A, 
					( 
						SELECT NUM AS RN FROM TABLE(FN_ROWTABLE(${params.seatStr}, ${params.seatEnd}))
					) B 
					WHERE PART_CD = #{params.partCd}
					]]>
				) TA
				ORDER BY TA.RN ASC;
			</when>
			<otherwise>
				INSERT INTO TSEB_SEAT_INFO_D
				(
					SEAT_CD, CENTER_CD, FLOOR_CD, PART_CD, SEAT_NM, 
					USE_YN, SEAT_TOP, SEAT_LEFT, FRST_REGTER_ID, FRST_REGIST_DTM, 
					LAST_UPDUSR_ID, LAST_UPDT_DTM, SEAT_DVSN, SEAT_CLASS, PAY_DVSN, 
					PAY_COST, PAY_AM_COST, PAY_PM_COST, SEAT_ORDER
				)
				SELECT 
					FN_SEATCODEINSERT(TA.FLOOR_CD, 'FLOOR', RNUM), TA.CENTER_CD, TA.FLOOR_CD, TA.PART_CD, TA.RN, 
					'Y', 0, 0, #{params.frstRegterId}, SYSDATE, 
					#{params.lastUpdusrId}, SYSDATE, #{params.seatDvsn, jdbcType=VARCHAR}, #{params.seatClass}, #{params.payDvsn, jdbcType=VARCHAR}, 
					#{params.payCost}, #{params.payAmCost}, #{params.payPmCost}, TA.RNUM 
				FROM 
				(
					<![CDATA[
					SELECT  
						A.CENTER_CD, A.FLOOR_CD, 0 AS PART_CD, A.FLOOR_NM || '_' || B.RN AS RN,  
						ROW_NUMBER() OVER(ORDER BY B.RN ASC) AS RNUM
					FROM TSEB_FLOOR_INFO_M A, 
					(
						SELECT NUM AS RN FROM TABLE(FN_ROWTABLE(${params.seatStr}, ${params.seatEnd})) 
					) B 
					WHERE FLOOR_CD = #{params.floorCd}
					]]>
				) TA
				ORDER BY TA.RN DESC ;
			</otherwise>
		</choose>
		UPDATE TSEB_FLOOR_INFO_M SET 
			FLOOR_SEAT_CNT = 
			(
				SELECT NVL(COUNT(*),0) 
				FROM TSEB_SEAT_INFO_D 
				WHERE FLOOR_CD = #{params.floorCd} 
			)
		WHERE FLOOR_CD = #{params.floorCd};
		
		END
	}
    </insert>
    
    <update id="updateSeatInfo" >
		UPDATE TSEB_SEAT_INFO_D SET 
			CENTER_CD = #{centerCd}, 
			FLOOR_CD = #{floorCd, jdbcType=VARCHAR}, 
			PART_CD = #{partCd, jdbcType=VARCHAR}, 
			SEAT_NM = #{seatNm}, 
			USE_YN = #{useYn, jdbcType=VARCHAR},
			SEAT_CLASS = #{seatClass, jdbcType=VARCHAR},  
			SEAT_DVSN = #{seatDvsn, jdbcType=VARCHAR}, 
			PAY_DVSN = #{payDvsn, jdbcType=VARCHAR}, 
			PAY_COST = #{payCost, jdbcType=VARCHAR},
			PAY_AM_COST = 0,
			PAY_PM_COST = 0,   
			LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR},   
			LAST_UPDT_DTM = SYSDATE
	    WHERE SEAT_CD = #{seatCd}           
    </update>
    
    <update id="updateSeatPositionInfo" parameterType="java.util.List">
		<foreach collection="seatInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE TSEB_SEAT_INFO_D SET 
				SEAT_TOP = #{item.seatTop, jdbcType=VARCHAR}, 
				SEAT_LEFT = #{item.seatLeft, jdbcType=VARCHAR}, 
				LAST_UPDT_DTM = SYSDATE, 
				LAST_UPDUSR_ID = #{item.userId, jdbcType=VARCHAR},
				SEAT_ORDER = #{item.seatOrder}
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(item.seatNm)">
				 , SEAT_NM = #{item.seatNm}
				</if>
			WHERE SEAT_CD = #{item.seatCd}
		</foreach> 
    </update> 
    
    <delete id="deleteSeatInfo">
	{CALL
		DECLARE
		BEGIN
		
		UPDATE 
			TSEB_FLOOR_INFO_M SET FLOOR_SEAT_CNT = FLOOR_SEAT_CNT - B.CNT
		FROM TSEB_FLOOR_INFO_M A, 
		(
			SELECT 
				COUNT(*) CNT, FLOOR_CD 
			FROM TSEB_SEAT_INFO_D
			WHERE SEAT_CD IN 
			<foreach collection="seatInfoList" item="item"  open="(" separator="," close=")">
				#{item}
			</foreach>
			GROUP BY FLOOR_CD
		) B
        WHERE A.FLOOR_CD = B.FLOOR_CD;
        
        DELETE FROM TSEB_SEAT_INFO_D WHERE SEAT_CD IN
        <foreach collection="seatInfoList" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
        ;
        
		END
	}
    </delete>
</mapper>