<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.let.uat.uia.mapper.LoginUsrManageMapper">
    <select id="actionLogin" resultType="LoginVO">  
		SELECT ADMIN_ID, ADMIN_PWD, AUTHOR_CD, ADMIN_PASS_UPDT_DT, EMP_NO, CENTER_CD
		FROM VW_EMPINFO
		WHERE ADMIN_ID = #{adminId}
		AND ADMIN_PWD = #{adminPwd}
		AND ADMIN_LOCKYN = 'N'
		AND USE_YN = 'Y'
   	</select>
   
       <!-- SELECT ADMIN_ID AS adminId
			     , ADMIN_NAME AS adminName			     
			     , DEPT_ID AS deptId
			     , ADMIN_PWD AS adminPassword				     
			     , DEPT_NAME AS deptName
			     , ADMIN_EMAIL AS adminEmail
			     , ADMIN_TEL AS adminTel			     
			     , ADMIN_LEVEL  AS adminLevel
			  FROM TB_ADMIN
			 WHERE ADMIN_ID = #{adminId}
			   AND CRYPTION_AES256.DEC_AES(ADMIN_PWD) = #{adminPassword}
			   AND LOCK_YN = 'N'
			   AND TO_CHAR( ADD_MONTHS(UPDATE_PASSWORD, 2),'yyyyMMdd') > TO_CHAR(SYSDATE, 'yyyyMMdd')
			   AND USE_YN = 'Y' -->
</mapper>