<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.rsv.black.mapper.BlackUserInfoManageMapper">
	<!-- backoffice -->
	<select id="selectBlackUserInfoList" resultType="lmap">
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY BLKLST_SEQ DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT  
					A.BLKLST_SEQ, B.USER_ID, A.USER_DVSN, A.USER_CLPHN,
					A.BLKLST_USER_YN, A.BLKLST_CANCEL_YN, FN_DETAILCODENM(A.BLKLST_DVSN) AS BLKLST_DVSN_TXT, B.USER_PHONE, 
					B.USER_NM, B.USER_NOSHOW_CNT, B.USER_NOSHOW_LAST_DT, A.BLKLST_DVSN, 
					DBMS_LOB.SUBSTR(A.BLKLST_REASON, DBMS_LOB.GETLENGTH(A.BLKLST_REASON)) AS BLKLST_REASON,
					A.FRST_REGTER_ID, A.LAST_UPDUSR_ID,
					TO_CHAR(A.LAST_UPDT_DTM, 'YYYY-MM-DD HH24:MI') AS LAST_UPDT_DTM,
					TO_CHAR(A.FRST_REGIST_DTM, 'YYYY-MM-DD HH24:MI') AS FRST_REGIST_DTM
				FROM TSER_BLKLST_INFO_I A, TSER_USER_INFO_I B
				WHERE 1=1
				AND A.USER_ID = B.USER_ID
				AND B.USER_DVSN = 'USER_DVSN_1'
				AND A.BLKLST_DVSN = #{params.searchBlklstDvsn, jdbcType=VARCHAR}
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					<choose>
						<when test="@org.apache.commons.lang3.StringUtils@equals(params.searchCondition,'USER_ID')">
							AND A.USER_ID LIKE '%' || #{params.searchKeyword} || '%'
						</when>
						<when test="@org.apache.commons.lang3.StringUtils@equals(params.searchCondition,'USER_NM')">
							AND B.USER_NM LIKE '%' || #{params.searchKeyword} || '%'
						</when>
						<when test="@org.apache.commons.lang3.StringUtils@equals(params.searchCondition,'USER_PHONE')">
							AND B.USER_PHONE LIKE '%' || #{params.searchKeyword} || '%'
						</when>
						<otherwise> 
							AND 
							(
								A.USER_ID LIKE '%' || #{params.searchKeyword} || '%' 
								OR B.USER_NM LIKE '%' || #{params.searchKeyword} || '%'
								OR B.USER_PHONE LIKE '%' || #{params.searchKeyword} || '%' 
							)
						</otherwise>
					</choose>
				</if>	
			) TB 
		) TA
		WHERE TA.RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC
    </select>

    <update id="insertBlackUserInfo">
		INSERT INTO TSER_BLKLST_INFO_I 
		(
			BLKLST_SEQ, USER_ID, USER_DVSN, USER_CLPHN, BLKLST_DVSN, 
			BLKLST_REASON, BLKLST_CANCEL_YN, FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, 
			LAST_UPDT_DTM
		)
		VALUES
		(
			SEQ_SER_BLKLIST_INFO.NEXTVAL, #{userId}, #{userDvsn, jdbcType=VARCHAR}, #{userClphn, jdbcType=VARCHAR}, #{blklstDvsn, jdbcType=VARCHAR}, 
			#{blklstReason, jdbcType=CLOB}, 'N', #{adminId, jdbcType=VARCHAR}, SYSDATE, #{adminId, jdbcType=VARCHAR}, 
			SYSDATE
		)
    </update>	
    
    <update id="updateBlackUserInfo">
	{CALL
		DECLARE 
        BEGIN
		<choose>
			<when test="blklstDvsn == 'BLKLST_DVSN_3'">
				UPDATE TSER_BLKLST_INFO_I SET 
					BLKLST_CANCEL_YN = #{blklstCancelYn, jdbcType=VARCHAR},
					LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR},
					LAST_UPDT_DTM = SYSDATE
				WHERE BLKLST_SEQ = #{blklstSeq};
	               
				UPDATE TSER_USER_INFO_I SET USER_NOSHOW_LAST_DT = NULL, USER_NOSHOW_CNT = 0
				WHERE USER_ID = #{userId};
			</when>
			<otherwise>
				UPDATE TSER_BLKLST_INFO_I SET 
					BLKLST_CANCEL_YN = #{blklstCancelYn, jdbcType=VARCHAR},
					LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR},
					LAST_UPDT_DTM = SYSDATE
				WHERE BLKLST_SEQ = #{blklstSeq};
			</otherwise>
		</choose>
		END 
	}
    </update>
    
    <delete id="deleteBlackUserInfo">
    	DELETE FROM TSER_BLKLST_INFO_I WHERE BLKLST_SEQ = #{blklstSeq}
    </delete>	
</mapper>