<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.let.uat.uap.mapper.LoginPolicyMapper">
    <select id="selectLoginPolicyList" resultType="lmap">
        <![CDATA[    
            SELECT  * 
              FROM  (
            SELECT  ROW_NUMBER() OVER (ORDER BY ALL_LIST.LAST_UPDT_PNTTM DESC) AS RNUM, 
				    ALL_LIST.*, SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT
            FROM  (
		            SELECT A.ADMIN_ID,
		                   C.EMP_NM,
		                   B.IP_INFO,
		                   B.DPLCT_PERM_AT,
		                   B.LMTT_AT,
		                   B.LAST_UPDUSR_ID,
		                   B.LAST_UPDUSR_PNTTM,
		                   DECODE(B.ADMIN_ID, NULL, 'N', 'Y') AS REG_YN
		             FROM TSEH_ADMIN_INFO_M A, TSEH_LOGINPOLICY_M B TSEH_EMP_INFO_M C
		             WHERE A.EMP_NO = C.EMP_NO  
		                   AND A.ADMIN_ID = B.ADMIN_ID(+)    
        ]]>     
	            <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">	
	                   AND A.USER_NM LIKE '%'||#searchKeyword#||'%'
	            </if>
        <![CDATA[              
                    ) ALL_LIST
             )
             WHERE  RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
        ]]>  
    </select>    
    <select id="selectLoginPolicy" resultType="lmap">
            SELECT A.ADMIN_ID,
                   C.EMP_NM,
                   B.IP_INFO,
                   B.DPLCT_PERM_AT,
                   NVL(B.LMTT_AT,'N') AS LMTT_AT,
                   B.LAST_UPDUSR_ID,
                   B.LAST_UPDUSR_PNTTM,
                   DECODE(B.ADMIN_ID, NULL, 'N', 'Y') AS REG_YN
              FROM TSEH_ADMIN_INFO_M A, TSEH_LOGINPOLICY_M B TSEH_EMP_INFO_M C
             WHERE A.EMP_NO = C.EMP_NO  
		           AND A.ADMIN_ID = B.ADMIN_ID(+) 
                   AND A.USER_ID = #emplyrId#
    </select>
    
    <insert id="insertLoginPolicy" >
        <![CDATA[
            INSERT INTO TSEH_LOGINPOLICY_M 
                   (ADMIN_ID
                   ,IP_INFO
                   ,DPLCT_PERM_AT
                   ,LMTT_AT
                   ,FRST_REGISTER_ID
                   ,FRST_REGIST_PNTTM
                   ,LAST_UPDUSR_ID
                   ,LAST_UPDUSR_PNTTM)
            VALUES (#adminId#
                   ,#ipInfo#
                   ,#dplctPermAt#
                   ,#lmttAt#
                   ,#userId#
                   ,SYSDATE
                   ,#userId#
                   ,SYSDATE)
        ]]>
    </insert>

    <update id="updateLoginPolicy" >
        <![CDATA[
            UPDATE TSEH_LOGINPOLICY_M SET IP_INFO = #ipInfo#
                  ,DPLCT_PERM_AT = #dplctPermAt#
                  ,LMTT_AT = #lmttAt#
                  ,LAST_UPDUSR_ID = #userId#
                  ,LAST_UPDUSR_PNTTM = SYSDATE
            WHERE EMPLYR_ID = #emplyrId#
        ]]>
    </update>

    <delete id="deleteLoginPolicy">
        <![CDATA[
            DELETE FROM TSEH_LOGINPOLICY_M 
            WHERE ADMIN_ID = #adminId#
        ]]>
    </delete>

</mapper>