<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.front.login.mapper.UserLoginMapper">
	<resultMap id="userInfo" type="HashMap" >
    	<result property="Login_Type" column="LOGIN_TYPE" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="Login_YN" column="LOGIN_YN" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="Card_Id" column="CARD_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="Card_Seq" column="CARD_SEQ" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="User_Type" column="USER_TYPE" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="User_Id" column="USER_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="Card_No" column="CARD_NO" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="User_Nm" column="USER_NM" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="User_Phone" column="USER_PHONE" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="User_Sex_MF" column="USER_SEX_MF" jdbcType="VARCHAR" javaType="java.lang.String"/>
    	<result property="Error_Cd" column="Error_Cd" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>

	<select id="getUserLoginInfo" resultMap="userInfo">
		<choose>
			<when test='params.Error_Cd == "SUCCESS"'>
				SELECT 
					LOGIN_TYPE, 
					LOGIN_YN, 
					CARD_ID,
					CARD_SEQ,
					USER_TYPE,
					USER_ID,
					CARD_NO,
					USER_NM,
					USER_PHONE,
					USER_SEX_MF,
					#{params.Error_Cd} AS Error_Cd	
				FROM TEST_USER_LOGIN_TABLE
				<if test='params.Login_Type == "1"'>
					WHERE USER_ID = #{params.User_Id} 
					AND USER_PW = #{params.User_Pw}
				</if>
				<if test='params.Login_Type == "2"'>
					WHERE CARD_ID = #{params.Card_Id} 
					AND CARD_PW = #{params.Card_Pw}
				</if>						
			</when>
			<otherwise>
				SELECT #{params.Error_Cd} AS Error_Cd FROM DUAL
			</otherwise>
		</choose>
	</select>
	
	<select id="getUserLoginCheck" resultType="string" statementType="CALLABLE">	
		SELECT KSES_USER.FN_USERLOGINCHECK
		(
			#{params.User_Id, mode=IN, jdbcType=VARCHAR, javaType=string}, 
			#{params.User_Pw ,mode=IN, jdbcType=VARCHAR, javaType=string}, 
			#{params.Login_Type, mode=IN, jdbcType=VARCHAR, javaType=string}
		) FROM DUAL
	</select>
</mapper>