<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.mng.employee.mapper.PositionInfoManageMapper">
    <select id="selectPositionInfoList" resultType="lmap">     	      
		SELECT * FROM 
		( 
			SELECT 	
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				ROW_NUMBER() OVER (ORDER BY ROWNUM DESC) AS RNUM, 
				TB.* 
			FROM 	
			(	
				SELECT A.PSIT_CD code_cd, A.PSIT_NM code_nm, A.PSIT_DC code_dc, A.USE_YN, TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM
				FROM TSEH_PSIT_INFO_M A
				WHERE 1=1
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					AND 
					( 
						A.PSIT_NM LIKE CONCAT('%',#{params.searchKeyword},'%') 
						OR
						A.PSIT_DC LIKE CONCAT('%',#{params.searchKeyword},'%')
					) 
				</if>
			) TB 
		) TA
		WHERE ROWNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TA.RNUM DESC 
   	</select>
   	<select id="selectPositionInfoComboList" resultType="lmap">
		SELECT A.PSIT_CD, A.PSIT_NM
		FROM TSEH_PSIT_INFO_M A
		WHERE A.USE_YN = 'Y'
   	</select>

   	<select id="selectPositionDetailInfo" resultType="lmap">
		SELECT A.PSIT_CD code_cd, A.PSIT_NM code_nm, A.PSIT_DC code_dc, A.USE_YN, A.LAST_UPDT_DTM
		FROM TSEH_PSIT_INFO_M A
		WHERE A.PSIT_CD = #{code}
   	</select>
	
	<insert id="insertPositionInfo">
		INSERT INTO TSEH_PSIT_INFO_M	
		(
			PSIT_CD, PSIT_NM, PSIT_DC, USE_YN, LAST_UPDT_DTM
		)
		VALUES 
		(
			#{psitCd}, #{psitNm}, #{psitDc,jdbcType=VARCHAR},  #{useYn,jdbcType=VARCHAR}, SYSDATE	
		)
   	</insert>

	<update id="updatePositionInfo">
		UPDATE TSEH_PSIT_INFO_M SET PSIT_NM = #{psitNm, jdbcType=VARCHAR}
		                           , PSIT_DC = #{psitDc, jdbcType=VARCHAR}    
		                           , USE_YN = #{useYn, jdbcType=VARCHAR} 
		                           , LAST_UPDT_DTM = SYSDATE            
       	WHERE PSIT_CD = #{psitCd}
   	</update>
</mapper>