<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kses.backoffice.bld.partclass.mapper.PartClassInfoManageMapper">
	<select id="selectPartClassList" resultType="lmap">
		SELECT TB.* FROM 
		(
			SELECT 
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				ROW_NUMBER() OVER (ORDER BY B.CENTER_ORDER ASC, A.PART_CLASS_ORDER ASC) AS RNUM,
				A.PART_CLASS_SEQ,	A.CENTER_CD, FN_CODE_NM(A.CENTER_CD, 'CENTER') AS CENTER_NM, FN_DETAILCODENM(A.PART_CLASS) AS PART_CLASS_NM,
				A.PART_CLASS, A.PART_PAY_COST, A.PART_ICON, A.USE_YN AS USE_YN_VALUE,
				CASE A.USE_YN WHEN 'Y' THEN '사용' ELSE '사용 안함' END AS USE_YN,
				A.FRST_REGIST_DTM, A.FRST_REGTER_ID, TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM, A.LAST_UPDUSR_ID, A.PART_CLASS_ORDER
			FROM TSEB_CENTER_PART_CLASS_D A, TSEB_CENTER_INFO_M B
			WHERE 1=1
			AND A.CENTER_CD = B.CENTER_CD
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenterCd)">
				AND A.CENTER_CD = #{params.searchCenterCd}
			</if>
		)TB  
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}   
		ORDER BY TB.RNUM ASC
	</select>

	<select id="selectPartClass" resultType="lmap">
		SELECT
			PART_CLASS_SEQ,
			CENTER_CD,
			PART_CLASS,
			FN_DETAILCODENM(PART_CLASS) AS PART_CLASS_NM,
			PART_PAY_COST,
			PART_ICON,
			USE_YN
		FROM TSEB_CENTER_PART_CLASS_D
		WHERE PART_CLASS_SEQ = #{value}
	</select>
	
	<select id="selectPartClassComboList" resultType="lmap">
		SELECT 
			A.PART_CLASS_SEQ, FN_DETAILCODENM(A.PART_CLASS) AS PART_CLASS_NM, A.PART_PAY_COST, A.PART_ICON
		FROM TSEB_CENTER_PART_CLASS_D A
		WHERE A.CENTER_CD = #{centerCd}
		AND A.USE_YN = 'Y'
		ORDER BY A.PART_CLASS_ORDER ASC
	</select>
	
	<insert id="insertPartClassInfo">
		INSERT INTO TSEB_CENTER_PART_CLASS_D 
		(
			PART_CLASS_SEQ, CENTER_CD, PART_CLASS, PART_PAY_COST, USE_YN, PART_ICON,
			FRST_REGIST_DTM, FRST_REGTER_ID, LAST_UPDT_DTM, LAST_UPDUSR_ID, PART_CLASS_ORDER
		) 
		VALUES
		(
			SEQ_SEB_CENTER_PART_CLASS.NEXTVAL, #{centerCd}, #{partClass, jdbcType=VARCHAR}, #{partPayCost}, #{useYn}, #{partIcon, jdbcType=VARCHAR},
			SYSDATE, #{userId}, SYSDATE, #{userId}, #{partClassOrder}
		)
	</insert>
	
	<update id ="updatePartClassInfo">
		UPDATE TSEB_CENTER_PART_CLASS_D SET 
			PART_CLASS = #{partClass, jdbcType=VARCHAR},
			PART_PAY_COST = #{partPayCost},
			<if test="partIcon != '' ">                                    
				PART_ICON = #{partIcon, jdbcType=VARCHAR},
			</if>			
			USE_YN = #{useYn},
			LAST_UPDUSR_ID = #{userId},
			LAST_UPDT_DTM = SYSDATE,
			PART_CLASS_ORDER = #{partClassOrder}
		WHERE PART_CLASS_SEQ = #{partClassSeq, jdbcType=VARCHAR}					
	</update>
	
	<delete id="deletePartClassInfo">
		{CALL
			DECLARE
			BEGIN
	    	
			DELETE FROM TSEB_CENTER_PART_CLASS_D WHERE PART_CLASS_SEQ = #{value};
			
			END
		}
	</delete>
</mapper>