<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kses.backoffice.bld.season.mapper.SeasonSeatInfoManageMapper">
    <select id="selectSeasonSeatInfoList" resultType="lmap">
		SELECT TB.* FROM 
		(
			SELECT  
				SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				ROW_NUMBER() OVER (ORDER BY A.SEAT_ORDER DESC) AS RNUM, 
				A.CENTER_CD, A.FLOOR_CD, A.PART_CD, E.SEASON_SEAT_CD,  A.SEAT_CD, E.SEASON_SEAT_LABEL, 
				E.USE_YN, E.SEASON_SEAT_TOP, E.SEASON_SEAT_LEFT, 
				FN_DETAILCODENM(E.SEASON_CLASS) AS SEAT_CLASS_TXT,  FN_DETAILCODENM(E.SEAT_DVSN) AS SEAT_DVSN_TXT,
				TO_CHAR(A.LAST_UPDT_DTM, 'yyyy-mm-dd') AS LAST_UPDT_DTM, A.LAST_UPDUSR_ID, 
				E.SEASON_COST, E.SEASON_AM_COST, E.SEASON_PM_COST,  E.SEASON_SEAT_ORDER, B.CENTER_NM,  
				C.FLOOR_NM, C.FLOOR_INFO, 
				DECODE(A.PART_CD,'0','구역 미사용', D.PART_NM) AS PART_NM
			FROM TSEB_SEAT_INFO_D A, TSEB_CENTER_INFO_M B, TSEB_FLOOR_INFO_M C, TSEB_PART_INFO_D D, TSEB_SEASON_STINFO_D E
			WHERE A.CENTER_CD = B.CENTER_CD  
			      AND A.FLOOR_CD = C.FLOOR_CD
			      AND A.SEAT_CD = E.SEAT_CD
			      AND A.PART_CD = D.PART_CD(+)
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				AND ( A.SEAT_NM LIKE '%' || #{params.searchKeyword} ||'%' OR  E.SEASON_SEAT_LABEL LIKE '%' || #{params.searchKeyword} ||'%')
			</if>	
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenterCd)">
				AND A.CENTER_CD = #{params.searchCenterCd}
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorCd)">
				AND A.FLOOR_CD = #{params.searchFloorCd}
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchPartCd)">
				AND TRIM(A.PART_CD) = #{params.searchPartCd}
			</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.seasonCd)">
				AND E.SEASON_CD = #{params.seasonCd}
			</if>		
		) TB  
		WHERE RNUM BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}
		ORDER BY TB.SEASON_SEAT_CD DESC  	 	    
    </select>
    
    <select id="selectSeasonSeatInfoDetail"  resultType="lmap">
		SELECT  
			B.SEASON_SEAT_CD, B.SEASON_CD, B.CENTER_CD, B.FLOOR_CD, B.PART_CD, B.SEAT_CD,
            B.SEASON_COST, B.SEASON_AM_COST, B.SEASON_PM_COST, B.SEAT_DVSN, B.SEASON_CLASS,
            B.USE_YN, B.FRST_REGIST_DTM, B.FRST_REGTER_ID, B.LAST_UPDT_DTM, B.LAST_UPDUSR_ID,
            B.SEASON_SEAT_TOP, B.SEASON_SEAT_LEFT, B.SEASON_SEAT_LABEL, B.SEASON_SEAT_ORDER
		FROM TSEB_SEAT_INFO_D A, TSEB_SEASON_STINFO_D B
		WHERE A.SEAT_CD = B.SEAT_CD
		      AND B.SEASON_SEAT_CD = #{seasonSeatCd}
    </select>
    
    <insert id="insertSeatInfo" >
	{CALL
		DECLARE
		BEGIN
		
		<selectKey resultType="String" keyProperty="seatCd" order="BEFORE">
        	<choose>
           		<when test='params.partCd == "0"'>
            		SELECT FN_SEATCODE(#{floorCd},'FLOOR') AS seatCd
				</when>
				<otherwise>
					SELECT FN_SEATCODE(#{partCd},'PART') AS seatCd				
				</otherwise>
			</choose>
		</selectKey>
		INSERT INTO TSEB_SEAT_INFO_D
		(
			CENTER_CD, FLOOR_CD, PART_CD, SEAT_CD, SEAT_NM, 
			USE_YN, SEAT_TOP, SEAT_LEFT, SEAT_CLASS, SEAT_DVSN, 
			PAY_DVSN, PAY_COST, PAY_AM_COST, PAY_PM_COST SEAT_REQ_DAY, 
			FRST_REGTER_ID, FRST_REGIST_DTM, LAST_UPDUSR_ID, LAST_UPDT_DTM, 
		)
		VALUES
		(            
			#{centerCd}, #{floorCd}, #{partCd,jdbcType=VARCHAR}, #{seatCd}, #{seatNm}, 
			'Y', #{seatTop, jdbcType=VARCHAR}, #{seatLeft, jdbcType=VARCHAR}, #{seatClass, jdbcType=VARCHAR}, #{seatDvsn, jdbcType=VARCHAR},
			#{payDvsn, jdbcType=VARCHAR}, #{payCost, jdbcType=VARCHAR}, #{payAmCost, jdbcType=VARCHAR}, #{payPmCost, jdbcType=VARCHAR}, #{seatReqDay, jdbcType=VARCHAR},
			#{frstRegterId, jdbcType=VARCHAR}, SYSDATE, #{lastUpdusrId, jdbcType=VARCHAR}
		);
                 
		UPDATE TSEB_FLOOR_INFO_M SET FLOOR_SEAT_CNT = FLOOR_SEAT_CNT + 1 WHERE FLOOR_CD = #{floorCd};
		
		END
	}
    </insert>
    
    
    <update id="updateSeasonSeatInfo" >
		UPDATE TSEB_SEASON_STINFO_D SET CENTER_CD = #{centerCd}, 
										FLOOR_CD = #{floorCd, jdbcType=VARCHAR}, 
										PART_CD = #{partCd, jdbcType=VARCHAR}, 
										SEASON_SEAT_LABEL = #{seasonSeatLabel}, 
										USE_YN = #{useYn, jdbcType=VARCHAR},
										SEASON_CLASS = #{seasonClass, jdbcType=VARCHAR},  
										SEAT_DVSN = #{seatDvsn, jdbcType=VARCHAR}, 
										PAY_DVSN = #{payDvsn, jdbcType=VARCHAR}, 
										SEASON_COST = #{seasonCost, jdbcType=VARCHAR},
										SEASON_SEAT_LABEL = #{seasonSeatLabel, jdbcType=VARCHAR},
										SEASON_SEAT_ORDER = #{seasonSeatOrder, jdbcType=VARCHAR},
										SEASON_SEAT_TOP = #{seasonSeatTop, jdbcType=VARCHAR},
										SEASON_SEAT_LEFT = #{seasonSeatLeft, jdbcType=VARCHAR},
										SEASON_AM_COST = 0,
										SEASON_PM_COST = 0,   
										LAST_UPDUSR_ID = #{lastUpdusrId, jdbcType=VARCHAR},   
										LAST_UPDT_DTM = SYSDATE
	    WHERE SEASON_SEAT_CD = #{seasonSeatCd}           
    </update>
    
    <update id="updateSeasonSeatPositionInfo" parameterType="java.util.List">
		<foreach collection="seasonSeatInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE TSEB_SEASON_STINFO_D SET SEASON_COST = #{item.seasonCost, jdbcType=VARCHAR},
											SEASON_SEAT_LABEL = #{item.seasonSeatLabel, jdbcType=VARCHAR},
											<!-- SEASON_SEAT_ORDER = #{item.seasonSeatOrder, jdbcType=VARCHAR}, -->
											SEASON_SEAT_TOP = #{item.seasonSeatTop, jdbcType=VARCHAR},
											SEASON_SEAT_LEFT = #{item.seasonSeatLeft, jdbcType=VARCHAR},
											USE_YN = #{item.useYn, jdbcType=VARCHAR},
				                            LAST_UPDT_DTM = SYSDATE, 
				                            LAST_UPDUSR_ID = #{item.lastUpdusrId, jdbcType=VARCHAR}
			WHERE SEASON_SEAT_CD = #{item.seasonSeatCd} 
		</foreach> 
    </update> 
    
    <delete id="deleteSeasonSeatInfo">
	{CALL
		DECLARE
		BEGIN
		    DELETE FROM TSEB_SEASON_STINFO_D WHERE SEASON_SEAT_CD IN
	        <foreach collection="seasonSeatList" item="item"  open="(" separator="," close=")">
	            #{item}
	        </foreach>
	        ;
		END
	}
    </delete>
    


</mapper>